#rbs-footer-container{
	display:block;
	position:relative;
	overflow:auto;
	clear: both;
}
html.ie9 #rbs-footer-cta{
	@media (max-width:1130px){
		background-image:url(../images/footer-cta-bg.png);
		background-size:cover;
		background-repeat:no-repeat;
		opacity:1;
		visibility:visible;
	}
}
main.rbs-list{
	html:not(.safari) &{
		div#rbs-footer-cta{
			&.not-active{
			    opacity:1;
			    visibility:visible;
			}
			&.slide-up{
				transition:bottom 0.4s ease-out;
			}
		}
	}
	html.platform-desktop &{
		div#rbs-footer-cta a{
			transition:background-color 0.4s ease-out;
			&:hover{
				transition:background-color 0.4s ease-in;
				background-color:darken($light-blue, 10%);
				color:$white;
			}
		}
	}
	html.platform-mobile &{
		div#rbs-footer-cta a:active{
			background-color:darken($light-blue, 10%);
			color:$white;
		}
	}
	div#rbs-footer-cta{
		padding:0;
		.rbs-footer-container{
			text-align:right;
			@media (max-width:1024px){
				text-align:left;
			}
		}
		a{
			display:block;
			height:40px;
			width:163px;
			background-color:$light-blue;
			font-family:$primary-font-bold;
			color:$white;
			font-size:16px;
			box-shadow:0 5px 3px rgba(0,0,0,0.2);
			margin:7px 0 0 auto;
			cursor:pointer;
		    text-align: center;
			line-height: 40px;
			@media (max-width:767px){
				margin-right:auto; 
			}
		}	
		&.active{
			bottom:0;
			animation: active;
		    animation-delay: 0.4s;
		    animation-fill-mode: forwards;
		    opacity:1;
		    visibility:visible;
		}
		&.not-active{
			bottom:-55px;
			animation: not-active;
		    animation-delay: 0.4s;
		    animation-fill-mode: forwards;
		}
		&.stick-to-bottom{
			top: -111px;
		    opacity:1;
		    visibility:visible;
		}
		&.stick-to-bottom.not-active{
		    animation-delay: 0s;
		    position:absolute;
		    animation:none;
		    transition:none;
		}
		&.stay-up.active{
			bottom:0;
		}
		&.slide-up{
			bottom:0;
		}
		&.on-resize{
			animation:fade-in;
			animation-delay:0.4s;
			animation-fill-mode:forwards;
		}
	}
}
.rbs-footer-cta-desktop{
	background:linear-gradient(270deg, $pink, $red);
	margin-top:56px;
	height:55px;
	font-size:0;
	line-height:0;
    position: absolute;
	bottom:412px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    @media (max-width:1130px){
	    display:none;
    }
    html.ie9 &, html.ie10 &{
	    background-image:url(../images/red-pink-bg.png);
		background-size:cover;
		background-repeat:no-repeat;
	}
    a{
		display:block;
		height:40px;
		width:163px;
		background-color:$light-blue;
		font-family:$primary-font-bold;
		color:$white;
		font-size:16px;
		box-shadow:0 5px 3px rgba(0,0,0,0.2);
		margin:7.5px 0 0 auto;
		cursor:pointer;
	    text-align: center;
		line-height: 40px;
	}
	html.platform-desktop &{
		a{
			transition:background-color 0.4s ease-out;
			&:hover{
				transition:background-color 0.4s ease-in;
				background-color:darken($light-blue, 10%);
			}
		}
	}
	html.platform-mobile &{
		a{
			background-color:darken($light-blue, 10%);
		}
	}
	.rbs-footer-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1270px;
		width:100%;
		box-sizing:border-box;
		font-size:0;
		line-height:0;
		text-align:right;
		text-align:left;
		padding:0 65px;
		@media (max-width:1024px){
			text-align:left;
		}
		@media (max-width:767px){
			padding:0 25px;
		}
	}
}
#rbs-footer-cta{
	opacity:0;
	visibility:hidden;
	background:linear-gradient(270deg, $pink, $red);
	margin-top:56px;
	height:56px;
	font-size:0;
	line-height:0;
    position: fixed;
	bottom:0;
    width: 100%;
    z-index: 10;
    border-top:1px solid $grey-1;
    box-sizing: border-box;
    html.ie9 &, html.ie10 &{
	    background-image:url(../images/red-pink-bg.png);
		background-size:cover;
		background-repeat:no-repeat;
    }
	html:not(.safari) &{
		transition:bottom 0.4s ease-in;
		&.not-active{
			@media (max-width:1130px){
			    opacity:1;
			    visibility:visible;
		    }
		}
		&.slide-up{
			transition:bottom 0.4s ease-out;
		}
	}
	.rbs-footer-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1240px;
		width:100%;
		box-sizing:border-box;
		font-size:0;
		line-height:0;
		text-align:right;
		text-align:left;
		padding:0 65px;
		@media (max-width:1024px){
			text-align:left;
		}
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	.rbs-programme-item-template &{
	   @media (max-width:1024px){
			&.stick-to-bottom{
				bottom:-56px;
			}
		}
    }
	@media (max-width:1130px){
		&.active{
			bottom:-55px;
			animation: active;
		    animation-delay: 0.4s;
		    animation-fill-mode: forwards;
		    opacity:1;
		    visibility:visible;
		}
		&.not-active{
			bottom:-55px;
			animation: not-active;
		    animation-delay: 0.4s;
		    animation-fill-mode: forwards;
		}
		&.stick-to-bottom{
			bottom:-108px;
		    opacity:1;
		    visibility:visible;
		}
		&.stick-to-bottom.not-active{
		    animation-delay: 0s;
		    position:absolute;
		    animation:none;
		    transition:none;
		}
		&.stay-up.active{
			bottom:0;
		}
		&.slide-up{
			bottom:0;
		}
		&.on-resize{
			animation:fade-in;
			animation-delay:0.4s;
			animation-fill-mode:forwards;
		}
	}
	@at-root{
		@keyframes not-active {
			0% { position:fixed; }
			100% { position:absolute; }
		}
		@keyframes active{
			0% { position:absolute; }
			100% { position:fixed; }
		}
		@keyframes fade-in{
			0% { opacity:0;visibility:hidden; }
			100% { opacity:1;visibility:visible; }
		}
	}
	a, button{
		display:inline-block;
		vertical-align: top;
		cursor:pointer;
		-webkit-tap-highlight-color: transparent;
	}
	a:nth-child(1){
		color:$white;
	    line-height: normal;
		margin-top: 21px;
		font-size:18px;
		font-family:$primary-font-regular;
		width:calc(100% - 136px);
		@media (max-width:320px){
			display:none;
		}
	}
	html.platform-desktop &{
		a:nth-child(1){
			transition:color 0.4s ease-out;
			&:hover{
				color:darken($white, 10%);
				transition:color 0.4s ease-in;
			}
		}
	}
	html.platform-mobile &{
		a:nth-child(1):active{
			color:darken($white, 10%);
		}
	}
	a:nth-child(2){
		display:none;
		width:calc(100% - 136px);
		color:$white;
		font-size:14px;
		line-height:55px;
		@media (max-width:320px){
			display:inline-block;
		}
		@media (max-width:225px){
			width:calc(100% - 115px);
		}
	}
	html.platform-desktop &{
		a:nth-child(2){
			transition:color 0.4s ease-out;
			&:hover{
				transition:color 0.4s ease-in;
				color:darken($white, 10%);
			}
		}
	}
	html.platform-mobile &{
		a:nth-child(2){
			color:darken($white, 10%);
		}
	}
	button{
		display:block;
		height:40px;
		width:163px;
		background-color:$light-blue;
		font-family:$primary-font-bold;
		color:$white;
		font-size:16px;
		box-shadow:0 5px 3px rgba(0,0,0,0.2);
		margin:7px 0 0 auto;
		cursor:pointer;
	    text-align: center;
		line-height: 40px;
		@media (max-width:767px){
			margin:7px auto 0;
		}
	}
	html.platform-desktop &{
		button{
			transition:background-color 0.4s ease-out;
			&:hover{
				transition:background-color 0.4s ease-in;
				background-color:darken($light-blue, 10%);
			}
		}
	}
	html.platform-mobile &{
		button{
			background-color:darken($light-blue, 10%);
		}
	}
}
#rbs-footer{
	position:relative;
	display:block;
	background-color:$textgrey;
	padding:40px 0 13px;
	font-size:0;
	line-height:0;
	margin-top:108px;
	@media (max-width:1024px){
		margin-top: 108px;
	}
    .rbs-programme-item-template &{
	   @media (max-width:1024px){
			margin-top: 56px;
		}
    }
	main.rbs-list &{
		margin-top:0;
		@media (max-width:1024px){
			margin-top: 0;
		}
	}
	.rbs-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1270px;
		width:100%;
		box-sizing:border-box;
		padding:0 65px;
		@media (max-width:1024px){
			text-align:center;
		}
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	.rbs-apply &{
		margin-top:0;
		#rbs-programmes > div:first-child ul li a{
			font-family:inherit;
		}
	}
	.rbs-item-footer &{
		#rbs-programmes #footer-tabs-links a{
			font-family:$primary-font-bold;
		}
	}
	#rbs-programmes a,  #rbs-programmes li{
		font-family:$primary-font-regular;
		font-size:14px;
		line-height:25px;
		color:$grey-3;
	}
	html.platform-desktop &{
		#rbs-programmes a, #rbs-programmes li{
			transition:color 0.4s ease-out;
			&:hover{
				color:lighten($grey-3, 20%);
				transition:color 0.4s ease-in;
			}
		}
	}
	html.platform-mobile &{
		#rbs-programmes a:active, #rbs-programmes li:active{
			color:lighten($grey-3, 20%);
		}
	}
	#rbs-programmes > div > div a, #rbs-programmes li{
		font-family:$primary-font-bold;
	}
	#rbs-programmes ul{
		display:inline-block;
		vertical-align: top;
		width:100%;
		max-width:370px;
		@media (max-width:1024px){
			max-width:100%;
		}
		&:nth-child(2){
			max-width:400px;
			@media (max-width:1240px){
				max-width:300px;
			}
			@media (max-width:1024px){
				max-width:100%;
			}
		}
		&:nth-child(3){
			max-width:280px;
			@media (max-width:1024px){
				max-width:100%;
			}
		}
	}
	#rbs-programmes{
		padding-bottom:40px;
		@media (max-width:1024px){
			padding-bottom:30px;
		}
	}
	#rbs-programmes:after{
		content:"";
		height:1px;
		width:calc(100% - 130px);
		background-color:$grey-4;
		display:block;
		position:absolute;
		bottom:0;
		@media (max-width:767px){
			width:calc(100% - 50px);
		}
	}
	#rbs-programmes > div{
		display:inline-block;
		vertical-align: top;
		width:100%;
		@media (max-width:1024px){
			display:block;
		}
	}
	#rbs-programmes > div:nth-child(1){
		max-width:430px;
		@media (max-width:1240px){
			max-width:290px;
		}
		@media (max-width:1024px){
			max-width:100%;
		}
	}
	#rbs-programmes > div:nth-child(2){
		max-width:calc(100% - 430px);
		@media (max-width:1240px){
			max-width:calc(100% - 290px);
		}
		@media (max-width:1024px){
			max-width:100%;
		    margin-top: 23px;
		}
	}
	#rbs-copyright{
		padding-top:21px;
		padding-bottom:21px;
	}
	#rbs-copyright p{
		color:$grey-5;
		font-family:$primary-font-regular;
		font-size:11px;
		line-height:18px;
	}
}