#rbs-main{
	min-width:320px;
	background-color:$grey-1;
	overflow:hidden;
}
#rbs-header{
	position:relative;
	display:block;
	background-color:$dark-blue;
	overflow:hidden;
	#rbs-top-bar{
		height:65px;
		position:relative;
		z-index:100;
		@media (max-width:767px){
			height:53px;
		}
	}
	.rbs-apply &{
		#rbs-header a{
			font-size:inherit;
		}
	}
	#rbs-bottom-bar{
		height:212px;
		display:block;
	    text-align:center;
        box-sizing: border-box;
	    padding-top: 46px;
	    position:relative;
		margin:0 auto;
		max-width:1140px;
		width:100%;
		padding:46px 65px 0;
		@media (max-width:767px){
			padding:34px 25px 0;
			height:auto;
		}
	}
	&.rbs-programme-list #rbs-bottom-bar{
		@media (max-width:767px){
			text-align:center;
		}
	}
	#rbs-bottom-bar-graphic-1, #rbs-bottom-bar-graphic-2{
		content:"";
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		display:block;
		position:absolute;
	    opacity: 0;
	    z-index: 0;
	}
	html.ie9 &, html.ie10 &{
		#rbs-bottom-bar-graphic-1, #rbs-bottom-bar-graphic-2{
			background-image:$sprite-img-png;
			opacity:0.2;
		}
	}
	#rbs-bottom-bar-graphic-1{
	    transform: translateY(100%);
	    -ms-transform: translateY(0);
	    -moz-transform: translateY(100%) rotate(0.02deg);
		background-position:-2px -508px;
		width:428px;
		height:428px;
        left: 247px;
	    bottom: -3px;
	    z-index:0;
	    animation:rbs-bottom-bar-animate-top 0.45s linear forwards;
	    @media (max-width:767px){
		    width:299px;
		    height:299px;
		    background-position:-543px -41px;
		    left:50%;
		    margin-left:-149.5px;
		    bottom:-25px;
	    }
	}
	@at-root{
		@keyframes rbs-bottom-bar-animate-top{
			0% { transform: translateY(-280px);-moz-transform: translateY(-280px) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0.2; }
			100% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.2; }
		}
		@media (max-width:767px){
			@keyframes rbs-bottom-bar-animate-top{
				0% { transform: translateY(-280px);-moz-transform: translateY(-280px) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0.2; }
				100% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.2; }
			}
		}
	}
	#rbs-bottom-bar-graphic-2{
	    transform: translateY(74px);
	    -ms-transform: translateY(0);
	    -moz-transform: translateY(74px) rotate(0.02deg);
		width:192px;
		height:192px;
		background-position:-306px -224px;
		right: -18px;
		bottom: -170px;
		z-index:999;
	    animation:rbs-bottom-bar-animate-bottom 0.45s linear forwards;
	    &:not(.rbs-reverse-animation){
		    @media (max-width:1024px){
			    display:none;
		    }
	    }
	    &.rbs-reverse-animation{
 		    animation:rbs-reverse-animation 0.45s linear forwards;
	    }
		@media (max-width:1440px){
		    right: auto;
			left: 967px;
		}
		@media (max-width:1432px){
			right: -20px;
			left: auto;
		}
	}
	@at-root{
		@keyframes rbs-bottom-bar-animate-bottom{
			0% { transform: translateY(74px);-moz-transform: translateY(74px) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0.2; }
			100% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.2; }
		}
		@keyframes rbs-reverse-animation{
			0% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.2; }
			100% { transform: translateY(74px);-moz-transform: translateY(74px) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0.2; }
		}
	}
	#rbs-top-bar-graphic-1, #rbs-top-bar-graphic-2, #rbs-top-bar-graphic-2-mobile{
		content:"";
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		position:absolute;
		display:block;
		opacity:0.5
	}
	html.ie9 &, html.ie10 &{
		#rbs-top-bar-graphic-1, #rbs-top-bar-graphic-2, #rbs-top-bar-graphic-2-mobile{
			background-image:$sprite-img-png;
		}
	}
	#rbs-top-bar-graphic-1{
	    -ms-transform: translateY(0);
		background-position:-383px -41px;
		width:85px;
		height:149px;
		left:-9px;
		z-index:0;
		top:121px;
		animation:rbs-top-bar-animate-bottom 0.45s linear forwards;
		@media (max-width:1440px){
			left:auto;
			right: 1363px;
		}
		@media (max-width:1427px){
			right:auto;
			left:-21px;
		}
		@media (max-width:767px){
			right: 703px;
			left: auto;
		}
		@media (max-width:682px){
			display:none;
		}
	}
	html.ie9 &{
		
	}
	@at-root{
		@keyframes rbs-top-bar-animate-bottom{
			0% { transform: translateY(100%);-moz-transform: translateY(100%) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0; }
			100% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.5; }
		}
	}
	#rbs-top-bar-graphic-2{
	    -ms-transform: translateY(0);
		right:0;
		background-position:-470px -41px;
		width:71px;
		height:181px;
		right:5px;
		top: 204px;   
		animation:rbs-top-bar-animate-bottom 0.45s linear forwards;
		@media (max-width:1440px){
			right:auto;
			left: 1364px;
		}
		@media (max-width:1432px){
			right: -3px;
			left: auto;
		}
		@media (max-width:767px){
			display:none;
		}
	}
	#rbs-top-bar-graphic-2-mobile{
		display:none;
		@media (max-width:767px){
	   		 -ms-transform: translateY(0);
			display:block;
			right:-15px;
			bottom:-44px;
			background-position:-866px -41px;
			width:47px;
			height:128px; 
			animation:rbs-top-bar-animate-bottom 0.45s linear forwards;
		}
	}
	@at-root{
		@keyframes rbs-top-bar-animate-bottom{
			0% { transform: translateY(100%);-moz-transform: translateY(100%) rotate(0.02deg);-ms-transform: translateY(0);opacity: 0; }
			100% { transform:translate(0);-moz-transform:translate(0) rotate(0.02deg);-ms-transform:translate(0);opacity: 0.5; }
		}
	}
	#rbs-bpp-logos{
		display:block;
		text-align:center;
	    margin-top: 32px;
	    position:relative;
	    z-index:1;
	    @media (max-width:767px){
	    	margin-bottom: 44px;
	    }
	}
	#rbs-bpp-logos > li{
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		display:inline-block;
		vertical-align: top;
		height:27px;
	}
	html.ie9 &, html.ie10 &{
		#rbs-bpp-logos > li{
			background-image:$sprite-img-png;
		}
	}
	#rbs-bpp-logos > li:nth-child(1){
		background-position:-166px -2px;
		width:177px;
		margin-right:11px;
		@media (max-width:767px){
			width:113px;
			height:17px;
			background-position:-660px -2px;
			margin-right:4px;
		}
		@media (max-width:374px){
			margin:0 auto 4px;
			display:block;
		}
	}
	#rbs-bpp-logos > li:nth-child(2){
		background-position:-345px -2px;
		width:312px;
		margin-left:11px;
		@media (max-width:767px){
			width:200px;
			height:17px;
			background-position:-775px -2px;
			margin-left:4px;
		}
		@media (max-width:374px){
			margin:0 auto;
			display:block;
		}
		@media (max-width:250px){
			background-position:-775px -21px;
			height:13px;
			width:150px;
		}
	}
	#rbs-programme-tabs{
		display:block;
		height:50px;
		text-align:center;    
		font-size: 0;
		line-height: 0;
		position:relative;
		z-index:999;
		@media (max-width:265px){
			height:45px;
		}
		@media (max-width:200px){
			height:40px;
		}
	}
	#rbs-programme-tabs > li{
		display:inline-block;
		vertical-align: top;
		height:100%;
		font-size:16px;
		font-family:$primary-font-regular;
		line-height:50px;
		text-align:center;
		color:$grey-1;
		background-color:$grey-7;
		cursor:pointer;
		user-select:none;
		@media (max-width:767px){
			font-size:14px;
		}
		@media (max-width:265px){
			font-size:12px;	
			line-height:45px;
		}
		@media (max-width:200px){
			font-size:11px;
			line-height:40px;
		}
		&.active{
			font-family:$primary-font-bold;
			color:$textgrey;
			background-color:$grey-1;
		}
	}
	html.platform-desktop &{
		#rbs-programme-tabs > li:not(.active){
			transition:background-color 0.4s ease-out;
			&:hover, &.active{
				background-color:darken($grey-7, 10%);
				transition:background-color 0.4s ease-in;
			}
		}
	}
	html.platform-mobile &{
		#rbs-programme-tabs > li:not(.active):active{
			background-color:darken($grey-7, 95%);
		}
	}
	#rbs-programme-tabs > li:nth-child(1){
		width:187px;
		@media (max-width:767px){
			width:50%;
		}
	}
	#rbs-programme-tabs > li:nth-child(2){
		width:210px;
		@media (max-width:767px){
			width:50%;
		}
	}
	.rbs-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1440px;
		box-sizing:border-box;
		width:100%;
		padding:0 30px;
		@media (max-width:1024px){
			padding:0 32.5px;
		}
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	html.ie9 &{
		h1{
			border-bottom:1px solid $grey-underline;
		}
	}
	h1{
		font-family:$primary-font-light;
		font-size:28px;
		line-height:32px;
		color:$grey-1;
		display:inline-block;
		padding:0 0 8px;
		position:relative;
		z-index:1;
		@media (max-width:767px){
			font-size:22px;
			line-height:26px;
			padding:0 0 4px;
		}
	}
	a, #rbs-tabs-links li{
		font-family:$primary-font-regular;
		font-size:16px;
		cursor:pointer;
		display:inline-block;
		@media (max-width:767px){
			font-size:14px;
		}
	}
	#rbs-tabs-links{
		position:absolute;
		left:156px;
		top:0;
		margin-top:25px;
		display:block;
		@media (max-width:767px){
			display:none;
		}
	}
	#rbs-tabs-links > li{
		font-size:14px;
		line-height:20px;
		display:inline-block;
		vertical-align: top;
		color:$grey-3;
		&:nth-child(1){
			margin-right:21px;
		}
		& > a{
			color:inherit;
			font-size:inherit;
		}
	}
	html.platform-desktop &{
		#rbs-login-container{
			& > a, .fa-user{
				transition:color 0.4s ease-out;
			}
			&:hover{
				& > a, .fa-user{
					color:darken($grey-9, 10%);
					transition:color 0.4s ease-in;
				}
			}
		}
		#rbs-tabs-links > li{
			transition:color 0.4s ease-out;
			&:hover{
				transition:color 0.4s ease-in;
				color:lighten($grey-3, 10%);
			}
		}
	}
	html.platform-mobile &{
		#rbs-login-container{
			&:active{
				& > a, .fa-user{
					color:darken($grey-9, 10%);
				}
			}
		}
		#rbs-tabs-links > li{
			&:active{
				color:lighten($grey-3, 10%);
			}
		}
	}
	#rbs-login-container{
		position:absolute;
		right:30px;
		display:block;
		top:0;
		margin-top:25px; 
		@media (max-width:1024px){
			right:32.5px;
		}
		@media (max-width:767px){
			right:25px;
		    margin-top: 20px;
		}
	}
	#rbs-login-container > a{
		font-size:14px;
		line-height:20px;
		display:inline-block;
		vertical-align: top;
		color:$grey-9;
		@media (max-width:767px){
			font-size:13px;
		}
	}
	
	#rbs-login-container .fa-user{
		line-height:20px;
		margin-top: 2px;
		margin-right: 9px;
		font-size:13px;
		color:$grey-9;
		display:inline-block;
		vertical-align: top;
		@media (max-width:767px){
			font-size:12px;
			margin-top:1px;
		}
	}
	#rbs-logo{
		position:absolute;
		display:block;
		margin:0 auto;
		width:79px;
		height:23px;  
		left: 30px;
	    top: 20px;
		background-image:$sprite-img-svg;
		background-repeat:$sprite-repeat;
		background-size:$sprite-size;
		background-position:-2px -2px;
		cursor:pointer;
		@media (max-width:1024px){
			left:32.5px;
		}
		@media (max-width:767px){
			left:50%;
			transform:translateX(-50%);
			-ms-transform:translateX(-50%);
			height:19px;
			width:65px;
			background-position:-99px -2px;
			top:18px;
		}
	}
	html.ie9 &, html.ie10 &{
		#rbs-logo{
			background-image:$sprite-img-png;
		}
	}
	#rbs-logo > a{
		position:relative;
		display:block;
		height:100%;
		top:-4px;
	}
	#rbs-hamburger:hover, #rbs-hamburger:active{
		.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
			background-color:lighten($grey-3, 10%);
		}
	}
	#rbs-hamburger{
	    font: inherit;
	    display: none;
	    overflow: visible;
	    margin: 0;
	    padding-top:19px;
	    cursor: pointer;
	    transition-timing-function: linear;
	    transition-duration: .15s;
	    transition-property: opacity,filter;
	    text-transform: none;
	    color: inherit;
	    border: 0;
	    background-color: transparent;
	    @media (max-width:767px){
		    display:inline-block;
	    }
	}
	.hamburger-box{
	    position: relative;
	    display: inline-block;
	    width: 16px;
	    height: 13px;
	}
	.hamburger-box .hamburger-inner{
	    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
		transition-duration: .22s;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	    position: absolute;
	    width: 16px;
	    height: 1px;
	    transition-timing-function: ease;
	    transition-duration: .15s;
	    transition-property: transform;
	    background-color: $grey-3;
	}
	.hamburger-inner {
	    top: 50%;
	    display: block;
	}
	.hamburger-box .hamburger-inner:before {
	    transition: top .1s ease-in .25s,opacity .1s ease-in, background-color 0.4s ease-in;
	}
	.hamburger-box .hamburger-inner:after {
	    transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19), background-color 0.4s ease-in;
	}
	.hamburger-inner:before {
	    top: -6.5px;
	}
	.hamburger-inner:after {
	    bottom: -7.5px;
	}
	.hamburger-inner:after, .hamburger-inner:before {
	    display: block;
	    content: "";
	}
	.hamburger.active .hamburger-inner {
	    transition-delay: .12s;
	    transition-timing-function: cubic-bezier(.215,.61,.355,1);
	    transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	}
	.hamburger.active .hamburger-inner:before {
	    top: 0;
	    transition: top .1s ease-out,opacity .1s ease-out .12s;
	    opacity: 0;
	}
	.hamburger.active .hamburger-inner:after {
	    bottom: 0;
	    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
	    transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	}
}
#rbs-mobile-tabs-tray{
	position: absolute;
    display: block;
    width: 100%;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transition:transform 0.34s ease-out, box-shadow 0.34s ease-out;
    height:105px;
    background-color:$dark-blue;
    z-index:99;
    padding:0 25px;
    box-sizing:border-box;
	box-shadow:0px 0px 0px rgba(0,0,0,0.15);
    &.active{
	    transform: translateY(0);
	    -ms-transform: translateY(0);
		box-shadow:0px 5px 5px rgba(0,0,0,0.15);
		transition:transform 0.34s ease-in, box-shadow 0.34s ease-in;
	    ul{
		    opacity:1;
		    visibility:visible;
			transition:opacity 0.12s ease-in 0.22s, visibility 0.12s ease-in 0.22s;
	    }
    }
    ul{
	    padding-top:8px;
	    box-sizing:border-box;
	    opacity:0;
	    visibility:hidden;
		transition:opacity 0.12s ease-out 0s, visibility 0.12s ease-out 0s;
    }
    li{
	    font-family:$primary-font-regular;
	    line-height:48px;
	    font-size:14px;
	    text-align:left;
	    position:relative;
	    &:nth-child(1):before{
		    content:"";
		    display:block;
		    position:absolute;
		    width:100%;
		    height:1px;
		    background-color:#626D8E;
		    bottom:5px;
	    }
	    &:nth-child(2){
		    margin-top:-1px;
	    }
    }
    a{
	    font-size:inherit;
	    color:$grey-9;
    }
    	
	html.platform-desktop &{
		li a{
			transition:color 0.4s ease-out;
		}
		li a:hover{
			transition:color 0.4s ease-in;
			color:darken($grey-3, 10%);
		}
	}
	html.platform-mobile &{
		li a:active{
			color:darken($grey-3, 10%);
		}
	}
}