.rbs-ellipses{
    margin-top: 56px;
	animation:fade-in-items 0.4s ease .4s forwards;
	opacity:0;
	visibility:hidden;
	transform:translateY(60px);
	-moz-transform:translateY(60px) rotate(0.02deg);
	position:relative;
	display:block;
	z-index:1;
	html.ie9 &{
		opacity:1;
		visibility:visible;
		-ms-transform:translateY(0);
	}
	@media (max-width:1024px){
		margin-top:47px;
	}
	@media (max-width:767px){
	    margin-top: 74px;
	}
	.rbs-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1160px;
		width:100%;
		box-sizing:border-box;
		font-size:0;
		line-height:0;
		padding:0 65px;
		text-align:center;
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	.rbs-ellipse{
		display:inline-block;
		vertical-align: bottom;
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		margin-bottom:45px;
		position:relative;
		animation:fade-out-items 0.4s ease forwards;
	    @media (max-width:767px){
		    display:block;
		    margin-left:auto;
		    margin-right:auto;
		}
		&.active{
			opacity:0;
			visibility:hidden;
			transform:translateY(60px);
			-moz-transform:translateY(60px) rotate(0.02deg);
			animation:fade-in-items 0.4s ease forwards;
		}
	}
	html.ie9 &{
		.rbs-ellipse.active{
			opacity:1;
			visibility:visible;
			-ms-transform:translateY(0);
		}
	}
	html.ie9 &, html.ie10 &{
		.rbs-ellipse{
			background-image:$sprite-img-png;
		}
	}
	.rbs-ellipse > div{
	    display: table;
	    height: calc(100% - 80px);
	    width: calc(100% - 80px);
	    margin-top: 40px;
	    margin-left: 40px;
	    user-select:none;
	    @media (max-width:767px){
		    padding-top: 80px;
			padding-left: 40px;
			margin:0;
	    }
	    @media (max-width:330px){
		    padding-top: 30px;
			padding-left: 30px;
		    height: calc(100% - 30px);
			width: calc(100% - 60px);
	    }
	}
	html.ie9 &{
		.rbs-ellipse > div{
		    height: 80%;
		    width: 80%;
		    margin-top:10%;
		    margin-left:10%;
		    @media (max-width:767px){
			    padding:0;
			    margin-top:10%;
			    margin-left:10%;
		    }
		    @media (max-width:330px){
			    padding:0;
			    height: 80%;
			    width: 80%;
		    }
		}
	}
	html.firefox &, html.edge &, html.ie &{
		.rbs-ellipse > div{
		    @media (max-width:767px){
			    padding-top: 40px;
		    }
		    @media (max-width:330px){
			    padding-top:20px;
		    }
		}
	}
	.rbs-ellipse > div > div{
		display:table-cell;
		vertical-align: middle;
	}
	p{
		font-family:$secondary-font-regular;
		font-size:15px;
		line-height:23px;
		color:$textgrey;
		text-align:center;	
		@media (max-width:330px){
	        font-size: 12px;
			line-height: 18px;
		}
	}
	.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(1){
		width:274px;
		height:274px;
		background-position:-724px -724px;
		margin-right:43px;
		left:-2px;
		animation-delay:0.4s;
	    @media (max-width:767px){
		    margin-right:auto;
		    left:auto;
		    animation-delay:0s;
		}
		@media (max-width:330px){
			width:200px;
			height:200px;
			background-position:-999px -798px;
		}
		&.active{
			animation-delay:0s;
		}
	}
	.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(2){
		width:280px;
		height:274px;
		background-position:-718px -442px;
		margin-left:43px;
		right:-3px;
		animation-delay:0.2s;
	    @media (max-width:767px){
		    margin-left:auto;
		    right:auto;
		    animation-delay:0s;
		}
		@media (max-width:330px){
			width:200px;
			height:196px;
			background-position:-999px -398px;
		}
		&.active{
			animation-delay:0.2s;
		    @media (max-width:767px){
			    animation-delay:0s;
			}
		}
	}
	.rbs-container > div:nth-child(2) > .rbs-ellipse:nth-child(1){
		height:280px;
		width:280px;
		background-position:-436px -436px;
		margin-right:43px;
		animation-delay:0.2s;
	    @media (max-width:767px){
		    margin-right:auto;
		    animation-delay:0s;
		}
		@media (max-width:330px){
			width:200px;
			height:200px;
			background-position:-999px -196px;
		}
		&.active{
			animation-delay:0.2s;
		    @media (max-width:767px){
			    animation-delay:0s;
			}
		}
		
	}
	.rbs-container > div:nth-child(2) > .rbs-ellipse:nth-child(2){
		height:280px;
		width:280px;
		background-position:-442px -718px;
		margin-left:43px;
		animation-delay:0s;
	    @media (max-width:767px){
		    margin-left:auto;
		    animation-delay:0s;
		}
		@media (max-width:330px){
			width:200px;
			height:200px;
			background-position:-999px -596px;
		}
		&.active{
			animation-delay:0.4s;
		    @media (max-width:767px){
			    animation-delay:0s;
			}
		}
	}
	html.ie9 #managers-view.active &{
		.rbs-ellipse{
			& > div{
			    width: 70%;
			    margin-left:40px;
			    @media (max-width:767px){
/*
				    padding:0;
				    margin-top:10%;
				    margin-left:10%;
*/
			    }
			    @media (max-width:330px){
/*
				    padding:0;
				    height: 80%;
				    width: 80%;
*/
			    }
			}
		}
		.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(1){
			& > div{
			    width: 70%;
			    margin-left:40px;
			    @media (max-width:767px){
			    	height:70%;
			    }
			}
		}
		.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(3){
			& > div{
			    width: 70%;
			    margin-left:40px;
			}
		}
	}
	#managers-view.active &{
	    margin-top: 77px;
	    @media (max-width:767px){
	        margin-top: 63px;
	    }
	    p{
		    @media (max-width:330px){
		        font-size: 11px;
				line-height: 17px;
		    }
	    }
	    .rbs-ellipse{
			@media (max-width:1150px){
				margin-bottom:30px;
			}  
			@media (max-width:767px){
			    margin-bottom: 52px;
			}
			& > div{
				@media (max-width:767px){
					padding-top:72px;
				}
				@media (max-width:330px){
					padding-top: 40px;
				}
			}
	    }
	    .rbs-container{
		    max-width:1140px;
	    }
	    .rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(1){
			@media (max-width:1150px){
				margin-left:0;
				margin-right:45px;
			}
		    @media (max-width:767px){
			    margin-right:auto;
			    margin-left:auto;
			}
		}
		.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(2){
			height:280px;
			width:280px;
			background-position:-436px -436px;
			margin-right:43px;
			animation-delay:0.2s;
			@media (max-width:1150px){
				margin-right:0;
				margin-left:45px;
			}
		    @media (max-width:767px){
			    margin-right:auto;
			    margin-left:auto;
			    animation-delay:0s;
			}
			@media (max-width:330px){
				width:200px;
				height:200px;
				background-position:-999px -196px;
			}
			&.active{
				animation-delay:0.2s;
			    @media (max-width:767px){
				    animation-delay:0s;
				}
			}
		}
		.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(3){
			width:280px;
			height:274px;
			background-position:-718px -442px;
			margin-left:47px;
			animation-delay:0.2s;
			@media (max-width:1150px){
				display:block;
				margin-left:auto;
				margin-right:auto;
			}
		    @media (max-width:767px){
			    margin-right:auto;
			    margin-left:auto;
			    animation-delay:0s;
			}
			@media (max-width:330px){
				width:200px;
				height:196px;
				background-position:-999px -398px;
			}
			&.active{
				animation-delay:0.2s;
			    @media (max-width:767px){
				    animation-delay:0s;
				}
			}
			& > div{
			    width: calc(100% - 60px);
			    margin-left:30px;
			    @media (max-width:1150px){
				    padding-top: 71px;
					margin-top: 0;
			    }
			    @media (max-width:767px){
					width: calc(100% - 80px);
					margin-left:0;
			    }
				@media (max-width:330px){
					padding-top: 40px;
					width: calc(100% - 60px);
				}
			}
		}
		.rbs-container .rbs-ellipse h3{
			font-family:$primary-font-bold;
			font-size:18px;
			line-height:22px;
			color:$textgrey;
			margin:0 0 6px;
		    padding: 0 5px;
		    @media (max-width:330px){
			    font-size: 14px;
				line-height: 18px;
		    }
		}
		.rbs-ellipse > div{
		    margin-top: 45px;
		    margin-left:35px;
			width: calc(100% - 70px);
		    @media (max-width:767px){
				margin:0;
		    }
		    @media (max-width:330px){
				width: calc(100% - 60px);
		    }
		}
	}
	html.ie #managers-view.active &{
		.rbs-container > div:nth-child(1) > .rbs-ellipse:nth-child(3){
			& > div{
				@media (max-width:1150px){
					padding-top:47px;
				}
			}
		}
		.rbs-ellipse{
			& > div{
				@media (max-width:767px){
					padding-top:47px;
				}
			}
		}
	}
}