.rbs-underline-last{
	position:relative;
}
.rbs-underline-last:after{
	content:"";
	height:1px;
	width:100%;
	bottom:-6px;
	left:0;
	border-bottom:1px solid $grey-underline;
	position:absolute;
}
html.ie9 .rbs-programme-content-title-underlined{
	border-bottom:1px solid $grey-underline;
}
.rbs-programme-content-title-underlined{
	font-family:$primary-font-light;
	font-size:28px;
	line-height:32px;
	color:$textgrey;
	display:inline-block;
	padding:0 0 8px;
	position:relative;
    text-align:left;
	@media (max-width:1024px){
		font-size:24px;
		line-height:28px;
		padding:0 0 6px;
	}
	@media (max-width:767px){
		font-size:22px;
		line-height:26px;
		padding:0 0 4px;
	}
	&h1{
		font-size:100px;
		
	}
	strong{
		font-family:$secondary-font-regular;
	}
}
h1.rbs-programme-content-title-underlined{
	margin-bottom:32px;
	@media (max-width:1024px){
		margin-bottom:37px;
	}
	@media (max-width:767px){
		margin-bottom:28px;
	}
	.rbs-underline-last:after{
		bottom:-7px;
		@media (max-width:1024px){
			bottom:-4px;
		}
	}
}
#rbs-programme{
	position:relative;
	display:block;
	background-color:$grey-1;
	padding:76px 0 0;
	@media (max-width:1024px){
		padding:62px 0 0;
	}
	@media (max-width:767px){
		padding:53px 0 0;
	}
	& > div, & > div > div:not(.rbs-container), & > div > div:not(.rbs-container) > div{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1440px;
		box-sizing:border-box;
		width:100%;
		padding:0 65px;
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	& > div > div:not(.rbs-container), & > div > div:not(.rbs-container) > div{
		position:absolute;
		top:0;
		left:50%;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%);
	}
	& > div:before, & > div:after, & > div > div:not(.rbs-container):before, & > div > div:not(.rbs-container):after,  & > div > div:not(.rbs-container) > div:before{
		content:"";
		position:absolute;
		display:block;
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		@media (max-width:767px){
			display:none;
		}
	}
	& > div:before{
		width:85px;
		height:149px;
		background-position:-99px -122px;
		top:20px;
		left:0;
		z-index:0;
		@media (max-width:1355px){
			left:auto;
			right:1270px;
		}
		@media (max-width:1315px){
			left:-41px;
		}
	}
	& > div:after{
		width:84px;
		height:384px;
		background-position:-2px -122px;
		right:-10px;
		top:69px;
		@media (max-width:1460px){
			right:0;
		}
		@media (max-width:1252px){
			right:auto;
			left: 1167px;
		}
		@media (max-width:1215px){
			left:auto;
			right:-42px;
		}
		@media (max-width:1024px){
			left:auto;
			right:0;
		}
	}
	& > div > div:not(.rbs-container):before{
		width:52px;
		height:100px;
		background-position:-186px -122px;
		left:0;
	    top: 767px;
		@media (max-width:1324px){
			left:auto;
			right: 1271px;
		}
		@media (max-width:1303px){
		    left: -21px;
			right: auto;
		}
	}
	& > div > div:not(.rbs-container):after{
		width:205px;
		height:207px;
		background-position:-99px -273px;
	    left: -102px;
		top: 306px;
		@media (max-width:1360px){
			left:auto;
		    right: 1258px;
		    margin-left:-45px;
		}
		@media (max-width:1318px){
			left: -102px;
		    right: auto;
		    margin-left: -45px;
		}
		@media (max-width:1024px){
			top:340px;
		}
	}
	& > div > div:not(.rbs-container) > div:before{
		width:141px;
		height:181px;
		background-position:-240px -41px;
	    left: 12px;
		top: 1700px;
		@media (max-width:1440px){
		    right: 1286px;
			left:auto;
		}
		@media (max-width:1285px){
			display:none;
		}
	}
	html.ie9 &, html.ie10 &{
		& > div:before, & > div:after, & > div > div:not(.rbs-container):before, & > div > div:not(.rbs-container):after, & > div > div:not(.rbs-container) > div:before{
			background-image:$sprite-img-png;
		}
	}
	.rbs-title-container{
		display:block;
		margin-bottom:23px;
		position:relative;
		@media (max-width:1024px){
			margin-bottom:38px;
		}
		@media (max-width:767px){
			margin-bottom:25px;
		}
		&:before, &:after{
			content:"";
			position:absolute;
			display:block;
			background-image:$sprite-img-svg;
			background-size:$sprite-size;
			background-repeat:$sprite-repeat;
			@media (max-width:767px){
				display:none;
			}
		}
		&:after{
			width:93px;
			height:93px;
			background-repeat:$sprite-repeat;
			background-position:-2px -27px;
	        top: 562px;
			right: 313px;
			@media (max-width:1024px){
			    top: 654px;
				right: 272px;
			}
		}
		html.ie9 &, html.ie10 &{
			&:before, &:after{
				background-image:$sprite-img-png;
			}
		}
	}
	p, li{
		font-family:$secondary-font-regular;
		font-size:16px;
		line-height:28px;
		text-align:left;
		@media (max-width:767px){
			font-size:15px;
			line-height:25px;
		}
	}
	.rbs-programme-content-title{
		font-family:$primary-font-bold;
		font-size:18px;
		line-height:22px;
		color:$textgrey;
		margin-bottom:21px;
	    @media (max-width:767px){
		    font-size:17px;
		    line-height:23px;
	    }
	}
	.rbs-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1140px;
		width:100%;
		box-sizing:border-box;
		font-size:0;
		line-height:0;
		@media (max-width:1130px){
			max-width:720px;
		}
		@media (max-width:1024px){
			max-width:1140px;
		}
		&#rbs-programme-container{
			min-height:685px;
		}
	}
	#rbs-programme-content{ 
		position:relative;
		display:inline-block;
		vertical-align: top;
		box-sizing:border-box;
		width:100%;
		max-width:720px;
		padding-right:84px;
		z-index:4;
		@media (max-width:1215px){
			max-width: 680px;
			padding-right:40px;
		}
		@media (max-width:1130px){
			max-width: 720px;
		    padding-right: 0;
		}
		@media (max-width:1024px){
			max-width:100%;
		}
	}
}