#rbs-programme-study{
    margin-top: 73px;
    .rbs-programme-content-title-underlined{
	    font-size:24px;
	    line-height:28px;
	    padding-bottom:6px;
	    margin-bottom:32px;
	    @media (max-width:767px){
		    font-size:20px;
		    line-height:24px; 
		    padding-bottom:4px;
		    margin-bottom:22px;
	    }
    }
    #rbs-diploma .rbs-programme-content-title{
        margin-bottom: 10px;
    }
    .rbs-programme-content-title{
	    font-size:18px;
	    line-height:28px;
	    margin-bottom:20px;
	    @media (max-width:767px){
		    font-size:17px;
	    }
    }
    .rbs-study-icons{
	    display:block;
        margin-bottom: 19px;
        @media (max-width:767px){
	        margin-bottom:9px;
        }
    }
    .rbs-study-icons li{
	    display:inline-block;
	    vertical-align: top;
	    line-height:28px;
	    font-size:16px;
	    @media (max-width:767px){
		    font-size:13px;
		    margin-bottom: 8px;
	    }
	    &:first-child{
		    margin-right:27px;
		    @media (max-width:767px){
			    margin-right:51px;
		    }
	    }
    }
    .rbs-study-icons .fa-check-circle, .rbs-study-icons .fa-desktop, .rbs-study-icons .fa-pencil-alt, .rbs-study-icons .fa-comments, .rbs-study-icons .fa-user-friends{
	    font-size:17px;
	    margin-right:8px;
	    margin-top:-1px;
	    position:relative;
	    @media (max-width:767px){
		    font-size:14px;
	    }
    }
    .rbs-accordion-button{
	    display:inline-block;
	    vertical-align: top;
	    position:relative;
	    height:auto;    
	    padding: 0 15px;
	    cursor: pointer;
    }
    .rbs-accordion-button > span{
	    background-color:$grey-6;
		height: 100%;
		padding:9px 15px 6px 21px;
		box-sizing:border-box;
		display:table;
    }
    .rbs-accordion-button > span > span{
        display: table-cell;
		vertical-align: middle;
		pointer-events:none;
		cursor:pointer;
    }
    .rbs-accordion-button > span:before{
	    content:none;
	    border-left:15px solid transparent;
	    border-right:15px solid transparent;
	    border-bottom:15px solid $white;
	    height:0;
	    width:0;
	    display:block;
	    position:absolute;    
	    bottom: -26px;
	    left:40px;
    }
    .rbs-accordion-button:before, .rbs-accordion-button:after{
	    content:"";
	    display:block;
	    background-color:$grey-6;
        width: 30px;
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    z-index:-1;
	    cursor:pointer;
    }
    .rbs-accordion-button:before{
	    border-top-left-radius:50%;
	    border-bottom-left-radius:50%;
	    left:0;
    }
    .rbs-accordion-button:after{
	    border-top-right-radius:50%;
	    border-bottom-right-radius:50%;
	    right:0;
    }
    .rbs-accordion-content{
	    position:absolute;
	    opacity:0;
	    visibility:hidden;
	    left:0;
	    right:0;
	    background-color:$white;
	    padding:27px 30px 30px;
	    margin-bottom:26px;
	    box-shadow:0 10px 15px rgba(0,0,0,0.15);
	    @media (max-width:767px){
		    padding:28px 22px 30px;
	    }
    }
    .rbs-accordion-content.active{
	    position:relative;
	    opacity:1;
	    visibility:visible;
	    @media (max-width:767px){
		    margin-top:26px;
	    }
    }
    #rbs-programme-study-accordion{
	    margin-top:26px;
        margin-bottom: 58px;
	    @media (max-width:767px){
		    margin-top:38px;
		    margin-bottom:47px;
	    }
    }
    #rbs-programme-study-accordion > li{
	    position:relative;
    }
    #rbs-programme-study-accordion > li:last-child > ul > li{
	    margin-bottom:0;
	    @media (max-width:767px){
		    margin-bottom:22px;
		    &:last-child{
			    margin-bottom:0;
		    }
	    }
    }
    #rbs-programme-study-accordion > li:last-child > ul .rbs-accordion-content{
	    margin-top:26px;
	    @media (max-width:767px){
		    margin-top:26px;
	    }
    }
    #rbs-programme-study-accordion > li > ul{
	    display:block;
		font-size:0;
		line-height:0;
    }
    #rbs-programme-study-accordion > li > ul > li{
	    width:50%;
	    max-width:380px;
	    display:inline-block;
	    vertical-align: top;
	    font-family:$primary-font-regular;
	    font-size:15px;
	    line-height:15px;
	    margin-bottom:26px;
	    user-select:none;
	    @media (max-width:767px){
		    width:100%;
		    max-width:100%;
		    display:block;
		    margin-bottom:22px;
	    }
	    &.active{
		    .rbs-accordion-button > span:before{
				content:"";
			}
	    }
	    .fa-plus, .fa-minus{
			display:inline-block;
			vertical-align: top;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			pointer-events:none;
			font-size:12px;
			left:15px;
		}
	    .rbs-more{
			opacity:1;
			visibility: visible;
		}
		.rbs-less{
			opacity:0;
			visibility: hidden;
		}
    }
    html.platform-desktop &{
	    #rbs-programme-study-accordion > li > ul > li .rbs-accordion-button{
			.rbs-more{
	 			transition:opacity 0.4s ease-out, visibility 0.4s ease-out;
			}
			.rbs-less{
	 			transition:opacity 0.4s ease-in, visibility 0.4s ease-in;
			}
		}
	    #rbs-programme-study-accordion > li > ul > li.active .rbs-accordion-button, #rbs-programme-study-accordion > li > ul > li .rbs-accordion-button:hover{
			.rbs-more{
				opacity:0;
				visibility: hidden;
	 			transition:opacity 0.4s ease-out, visibility 0.4s ease-out;
			}
			.rbs-less{
				opacity:1;
				visibility: visible;
	 			transition:opacity 0.4s ease-in, visibility 0.4s ease-in;
			}
		}
    }
    html.platform-mobile &{
	    #rbs-programme-study-accordion > li > ul > li.active .rbs-accordion-button, #rbs-programme-study-accordion > li > ul > li .rbs-accordion-button:active{
			.rbs-more{
				opacity:0;
				visibility: hidden;
			}
			.rbs-less{
				opacity:1;
				visibility: visible;
			}
		}
    }
	#rbs-skills{
		margin-bottom:17px;
		@media (max-width:767px){
			margin-bottom:35px;
		}
	}
	#rbs-skills .rbs-programme-content-title{
		@media (max-width:767px){
			margin-bottom:15px;
		}
	}
	#rbs-skills .rbs-study-icons{
	    margin-top: 29px;
        margin-bottom: 23px;
        @media (max-width:767px){
            margin-top: 15px;
			margin-bottom: 9px;
		}
	}
	#rbs-skills .rbs-study-icons li:nth-child(2){
	    margin-right: 27px;
	    @media (max-width:767px){
		    margin-right:20px;
	    }
	}
	#rbs-skills .rbs-study-icons li{
		@media (max-width:767px){
			margin-right:20px;
		}
	}
	#rbs-skills ul:not(.rbs-study-icons), #rbs-knowledge ul:not(.rbs-study-icons){
		font-size:0;
		line-height:0;
		display:block;
		width:50%;
		display:inline-block;
		vertical-align: top;
		padding-left: 20px;
		box-sizing: border-box;
		margin:24px 0;
		@media (max-width:767px){
			display:block;
			width:100%;
		}
	}
	article#rbs-diploma ul{
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 100%;
	    padding-left: 20px;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0 0 24px;
	}
	#rbs-skills ul:nth-of-type(2){
		@media (max-width:767px){
			margin-bottom:0;
		}
	}
	#rbs-skills ul:nth-of-type(3){
		@media (max-width:767px){
			margin-top:0;
		}
	}
	#rbs-skills ul:not(.rbs-study-icons) > li, #rbs-diploma ul:not(.rbs-study-icons) > li, #rbs-knowledge ul:not(.rbs-study-icons) > li{
		list-style-type:disc;
		font-size:20px;
	    padding-right: 15px;
		@media (max-width:767px){
			font-size:15px;
		}
	}
	#rbs-skills ul > li > span, #rbs-diploma ul > li > span, #rbs-knowledge ul > li > span{
		font-size: 16px;
		position:relative;
		margin-left:-7px;
		display:block;
		@media (max-width:767px){
			font-size:15px;
		}
	}
	article#rbs-knowledge ul:not(.rbs-study-icons){
		margin-top:0;
	    margin-bottom: 38px;
	}
	#rbs-workshop, #rbs-workload{
		margin-bottom:28px;
		@media (max-width:767px){
			margin-bottom:26px;
		}
	}
	#rbs-workshop .rbs-programme-content-title{
		margin-bottom:21px;
		@media (max-width:767px){
			margin-bottom:15px;
		}
	}
	#rbs-workshop .rbs-study-icons{
		margin-bottom:20px;
		@media (max-width:767px){
			margin-bottom:8px;
		}
	}
	#rbs-knowledge{
		p{
		    margin-bottom: 11px;
		    &:last-of-type{
			    margin-top:37px;
		    }
		}
	}
	#rbs-structured{
		margin:44px 0 36px;
		.rbs-programme-content-title{
			margin-bottom:12px;
		}
	}
}