section#rbs-useful-downloads{
	margin-bottom:85px;
	margin-top: 32px;
	@media (max-width:1024px){
		margin-bottom:77px;
	}
	@media (max-width:767px){
		margin-bottom:62px;
	    margin-top: 84px;
	}
	.rbs-programme-content-title{
		font-family:$primary-font-bold;
		font-size:16px;
		line-height:22px;
		text-align:left;
		color:$textgrey;
		@media (max-width:767px){
			font-size:16px;
			line-height:22px;
		}
	}
	.rbs-programme-content-title-underlined{
		font-size:24px;
		line-height:28px;
		margin-bottom:52px;
		@media (max-width:767px){
			font-size:20px;
			line-height:24px;
			margin-bottom:36px;
		}
	}
	ul{
		text-align:left;
	}
	ul li{
		font-family:$secondary-font-regular;
	}
	.rbs-course-pdf{
		margin:0 auto;
		position:relative;
		&:before{
			content:"";
			display:block;
			position:absolute;
		    top: 36px;
			right: 10px;
			background-image:$sprite-img-svg;
			background-size:$sprite-size;
			background-repeat:$sprite-repeat;
			background-position:-9px -943px;
			height:50px;
			width:81px;
		}
	}
	html.ie9 &, html.ie10 &{
		.rbs-course-pdf:before{
			background-image:$sprite-img-png;
		}
	}
}
#rbs-programme-schedule, #rbs-useful-downloads{
	margin-top:85px;
	@media (max-width:1024px){
		margin-top:44px;
	}
	@media (max-width:767px){
		margin-top:59px;
	}
	.rbs-programme-content-title-underlined{
	    margin-bottom: 40px;
	    @media (max-width:767px){
		    font-size:20px;
		    line-height:24px;
	        margin-bottom: 27px;
	    }
	}
	.rbs-course-pdf{
		background-color:$white;
		display:block;
		max-width:315px;
		position:relative;
		padding:20px 78px 15px 20px;
		box-sizing:border-box;
		box-shadow:0 10px 15px 0 rgba(0,0,0,0.15);
		cursor:pointer;
		@media (max-width:305px){
			padding-right:20px;
		}
	}
	html.platform-desktop &{
		.rbs-course-pdf{
			transition:box-shadow 0.4s ease-out;
			&:hover{
				transition:box-shadow 0.4s ease-in;
				box-shadow:0 10px 15px 0 rgba(0,0,0,0.35);
			}
		}
	}
	html.platform-mobile &{
		.rbs-course-pdf:active{
			box-shadow:0 10px 15px 0 rgba(0,0,0,0.35);
		}
	}
	.fa-download{
		font-size:13px;
		color:$light-blue;
		display:block;
		cursor:pointer;
		position:relative;
		top:6px;
	}
	.rbs-programme-content-title{
		display:block;
		margin-bottom: 28px;
		line-height:22px;
		cursor:pointer;
		@media (max-width:767px){
			font-size:16px;
			margin-bottom:15px;
		}
	}
	ul{
		display:block;
		cursor:pointer;
	}
	ul > li{
		display:inline-block;
		vertical-align: top;
		color:$textgrey;
		font-size:13px;
		line-height:21px;
		@media (max-width:767px){
			font-size:14px;
		}
	}
	ul > li:nth-child(1){
		margin-right:12px;
	}
	ul > li:nth-child(2){
		margin-right:23px;
		@media (max-width:767px){
			margin-right:10px;
		}
	}
	img{
		position:absolute;
	    bottom: 14px;
		right: 14px;
		cursor:pointer;
		@media (max-width:305px){
			display:none;
		}
	}
	html.ie9 .rbs-item-footer &, html.ie9 #rbs-programme &, html.ie10 .rbs-item-footer &, html.ie10 #rbs-programme &{
		.rbs-container{
		    background-image:url(../images/red-pink-bg.png);
			background-size:cover;
			background-repeat:no-repeat;
			& > div > div{
				.rbs-course-pdf{
					&:before{
						content:none;
					}
				}
			}
	    }
	}
	.rbs-item-footer &, #rbs-programme &{
		text-align:center;
		margin-left:65px;
		margin-right:65px;
		@media (max-width:1130px){
			margin-left:0;
			margin-right:0;
		}
		@media (max-width:767px){
			margin-top: 73px;
		}
		.rbs-container{
			background:linear-gradient(270deg, $pink, $red);
		}
	    .rbs-programme-content-title{
			font-family:$primary-font-bold;
			font-size:18px;
			line-height:22px;
			color:$white;
			margin-bottom:40px;
			display:inline-block;
			vertical-align: top;
		    @media (max-width:767px){
			    font-size:17px;
			    line-height:23px;
		    }
		    .fa-download{
			    color:$white;
				display:inline-block;
				vertical-align: top;
			    margin-right: 12px;
			    font-size:12px;
			    top:4px;
		    }
		}
		ul{
			text-align:left;
		}
		.rbs-container > div.three-pdfs > div{
			&:nth-child(1){
				margin:0 15px 0 0;
				@media (max-width:767px){
					margin:0 0 25px;
				}
			}
		}
		.rbs-container > div > div{
			display:inline-block;
			vertical-align: top;
			margin:0 15px;
			width:calc(33.33% - 30px);
			@media (max-width:1024px){
				width:300px;
			}
			@media (max-width:767px){
				width:100%;
				margin:0 0 25px;
			}
			&:nth-child(1){
				width:calc(33.33% - 15px);
// 				margin:0 15px 0 0;

				@media (max-width:1024px){
					width:300px;
				}
				@media (max-width:767px){
					width:100%;
					margin:0 0 25px;
				}
			}
			&:nth-child(2){
				.rbs-course-pdf{
					&:before{
						background-position:-389px -934px;
						width:50px;
						height:65px;
				        top: 25px;
						right: 15px;
					}
				}
			}
			&:nth-child(3){
				width:calc(33.33% - 15px);
				margin:0 0 0 15px;
				@media (max-width:1024px){
					margin:30px auto 0;
					display:block;
					width:300px;
				}
				@media (max-width:767px){
					width:100%;
					margin:0 0 25px;
				}
				.rbs-course-pdf{
					&:before{
						background-position:-843px -283px;
						width:155px;
						height:157px;
					    bottom: -10px;
						right: 13px;
					    opacity: 0.5;
					    transform: scale(0.5);
					    transform-origin: 100% 50%;
					    -ms-transform: scale(0.5);
					    -ms-transform-origin: 100% 50%;
					}
				}
			}
		}
		.rbs-course-pdf{
			display:inline-block;
			vertical-align: top;
			width:100%;
			height:137px;
			padding:20px 20px 15px 20px;
			@media (max-width:767px){
				height:auto;
			}
			&:before{
				content:"";
				display:block;
				position:absolute;
			    bottom: 16px;
				right: 10px;
				background-image:$sprite-img-svg;
				background-size:$sprite-size;
				background-repeat:$sprite-repeat;
				background-position:-9px -943px;
				height:50px;
				width:81px;
				z-index:0;
			}
			.fa-download{
				top:4px;
				font-size:12px;
			}
			ul{
				position:absolute;
				bottom:11px;
				z-index:1;
			}
		}
		p{
			font-family:$primary-font-regular;
			font-size:15px;
			line-height:21px;
			text-align:left;
			color:$textgrey;
			margin:0 0 6px;
			z-index:1;
			position:relative;
			@media (max-width:767px){
			    margin-bottom: 24px;
			}
		}
		.rbs-course-pdf .rbs-programme-content-title{
			color:$textgrey;
			text-align:left;
			display:block;
		    margin-bottom: 11px;
			z-index:1;
			position:relative;
		    @media (max-width:767px){
			    font-size:16px;
			    line-height:22px;
		    }
		}
		.rbs-container{
			display:block;
			position:relative;
			margin:0 auto;
			max-width:1140px;
			width:100%;
			box-sizing:border-box;
			font-size:0;
			line-height:0;
			padding:44px 40px 29px;
			text-align:center;
			@media (max-width:767px){
				padding-bottom:5px;
			}
		}
	}
}