#rbs-filterable-cards{
	position:relative;
	z-index:1;
	#rbs-programme-list-options{
		display:block;
		width:calc(100% + 16px);
		position:relative;
		left:-8px;
		margin:37px auto 33px;
		text-align:center;
		@media (max-width:1024px){
			margin-bottom:20px;
		}
        @media (max-width:767px){
	    	left: -4px;
			width: calc(100% + 8px);
        }
	}
	#rbs-programme-item-pagination-wrapper{
		width: calc(100% + 16px);
	    position: relative;
	    left: -8px;
	    display:block;
	    text-align:center;
        margin-top: 19px;
        @media (max-width:767px){
	    	left: -4px;
			width: calc(100% + 8px);
        }
	}
	#rbs-programme-list-options > li, #rbs-programme-item-pagination{
		display:inline-block;
		vertical-align: top;
		font-size:13px;
		line-height:22px;
		font-family:$primary-font-regular;
		height:27px;
		position:relative;
	    margin: 0 8px 24px;
	    cursor:pointer;
		background-color:$grey-8;
		backface-visibility: hidden;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		position:relative;
        @media (max-width:767px){
	    	margin:0 4px 19px;
        }
        @media (max-width:250px){
	        height:auto;
        }
	}
	li#rbs-programme-item-pagination .rbs-gradient{
		opacity:1;
	}
	li#rbs-programme-item-pagination span:not(.rbs-gradient){
		color:$white;
	}
	html.platform-desktop &{
		li#rbs-programme-item-pagination{
			.rbs-gradient{
				transition:all 0.4s ease-out;
			}
		}
		li#rbs-programme-item-pagination:hover{
			.rbs-gradient{
				transition:all 0.4s ease-in;
				background-image:linear-gradient(-91deg, $purple, $light-blue);
			}
		}
	}
	html.platform-mobile &{
		li#rbs-programme-item-pagination:active{
			.rbs-gradient{
				backface-visibility: hidden;
				background-image:linear-gradient(-91deg, $purple, $light-blue);
			}
		}
	}
	html.platform-desktop &{
		#rbs-programme-list-options > li, #rbs-programme-item-pagination{
			& > .rbs-gradient{
				transition:opacity 0.4s ease-out;
			}
			& > span:not(.rbs-gradient){
				transition:color 0.4s ease-out
			}
		}
		#rbs-programme-list-options > li:hover, #rbs-programme-item-pagination:hover, #rbs-programme-list-options > li.active{
			& > .rbs-gradient{
				background-position:center left;
				color:$white;
				opacity:1;
				transition:opacity 0.4s ease-in;
			}
			& > span:not(.rbs-gradient){
				color:$white;
				transition:color 0.4s ease-in;
			}
		}
	}
	html.platform-mobile &{
		#rbs-programme-list-options > li:active, #rbs-programme-item-pagination:active, #rbs-programme-list-options > li.active{
			& > .rbs-gradient{
				background-position:center left;
				color:$white;
				opacity:1;
			}
			& > span:not(.rbs-gradient){
				color:$white;
			}
		}
	}
	#rbs-programme-list-options > li:before, #rbs-programme-item-pagination:before{
		left:0;
		background-image:url(../images/filter-curves.svg);
	}
	#rbs-programme-item-pagination:before{
		left:-1px;
	}
	html.safari &{
		#rbs-programme-list-options > li:after, #rbs-programme-item-pagination:after{
			right:-0.5px;
		}
	}
	#rbs-programme-list-options > li:after, #rbs-programme-item-pagination:after{
		right:0;
		background-image:url(../images/filter-curves-r.svg);
	}
	#rbs-programme-list-options > li:before, #rbs-programme-list-options > li:after, #rbs-programme-item-pagination:before, #rbs-programme-item-pagination:after{
		content:"";
		top:0;
		background-size:100% 100%;
		background-repeat:no-repeat;		
		height: 100%;
		width:14px;
		position:absolute;
		display:block;
		z-index:4;
	}
	html.ie9 &, html.ie10 &{
		#rbs-programme-list-options > li:before, #rbs-programme-item-pagination:before{
			background-image:url(../images/filter-curves.png);
		}
		#rbs-programme-list-options > li:after, #rbs-programme-item-pagination:after{
			background-image:url(../images/filter-curves-r.png);
		}
	}
	#rbs-programme-list-options > li > span:not(.rbs-gradient), #rbs-programme-item-pagination span:not(.rbs-gradient){
		position:relative;
		display:block;
		box-sizing:border-box;
		padding:5px 14px 0;
		z-index:3;
		color:$textgrey;
	}
	html.ie &{
		#rbs-programme-list-options > li > span:not(.rbs-gradient), #rbs-programme-item-pagination span:not(.rbs-gradient){
			padding:3px 14px 0;
		}
	}
	html.platform-mobile &{
		#rbs-programme-list-options > li > span:not(.rbs-gradient), #rbs-programme-item-pagination span:not(.rbs-gradient){
			padding-top:4px;
		}
	}
	#rbs-programme-item-pagination span strong{
		font-family:$primary-font-regular;	 
	}
	html.ie9 &, html.ie10 &{
		#rbs-programme-list-options > li, #rbs-programme-item-pagination{
			height:28px;
		}
		#rbs-programme-list-options > li:before, #rbs-programme-list-options > li:after, #rbs-programme-item-pagination:before, #rbs-programme-item-pagination:after{
			width:15px;
		}
		#rbs-programme-list-options > li > .rbs-gradient, #rbs-programme-item-pagination .rbs-gradient{
			background-size:cover;
			background-image:url(../images/filter-bg.png);
		}
		#rbs-programme-list-options > li:hover, #rbs-programme-item-pagination:hover{
			& > .rbs-gradient{
				background-position:0 0;
			}
		}
		#rbs-programme-item-pagination{
			line-height:20px;
		}
	}
	#rbs-programme-list-options > li > .rbs-gradient, #rbs-programme-item-pagination .rbs-gradient{
		background-image:linear-gradient(91deg, $purple, $light-blue);
		height:100%;
		width:100%;
		opacity:0;
		display:block;
		margin:0;
		position:absolute;
		z-index:2;
	}
	#rbs-programme-list-cards{
		width:calc(100% + 42px);
		left:-21px;
		position:relative;
		text-align:left;
		opacity:0;
		visibility:hidden;
		transform:translateY(60px) rotate(0.02deg);
		animation:fade-in-items 0.5s ease .4s forwards;
		@media (max-width:1024px){
			width:calc(100% + 36px);
			left:-18px;
		}
		@media (max-width:545px){
			width:100%;
			left:auto;
		}
	}
	html.ie9 &{
		#rbs-programme-list-cards{
			opacity:1;
			visibility:visible;
			-ms-transform:translateY(0) rotate(0.02deg);
		}
	}
	html.ie10 &, html.ie9 &, html.ie &{
		#rbs-programme-list-cards > .rbs-programme-item{
			&.active, &.filtered.active{
				opacity:1;
				visibility:visible;
				transform:translateY(0) rotate(0.02deg);
				animation:fade-in-items 0.5s ease forwards;
			}
		}
	}
	html.ie9 &{
		#rbs-programme-list-cards > .rbs-programme-item{
			opacity:1;
			visibility:visible;
			-ms-transform:translateY(0) rotate(0.02deg);
		}
	}
	#rbs-programme-list-cards > .rbs-programme-item{
		box-shadow:0 10px 15px rgba(0,0,0,0.15);
		position:relative;
		vertical-align: top;
		width:calc(33.33% - 42px);
		margin:0 21px 42px;
		box-sizing:border-box;
		background-color:$white;
		height:180px;
		display:none;
		animation:fade-out-items 0.5s ease forwards;
		&.rbs-paginated, &.filtered.rbs-paginated{
			display:none;
		}
		&.filtered{
			display:inline-block;
		}
		&.active{
			opacity:0;
			visibility:hidden;
			transform:translateY(60px) rotate(0.02deg);
			animation:fade-in-items 0.5s ease forwards;
		}
		@media (max-width:1024px){
			height:180px;
			width:calc(50% - 36px);
			margin:0 18px 31px;
		}
		@media (max-width:545px){
			width:100%;
			margin-left:0;
			margin-right:0;
			height:166px;
			margin-bottom:29px;
		}
		@media (max-width:330px){
			height:210px;
		}
	}
	html.ie10 &, html.ie9 &, html.ie &{
		.bottom{
	    	border-bottom: 4px solid $white;
			@media (max-width:545px){
		    	border-bottom: 15px solid $white;
		    }
		}
	}
	.bottom{
		overflow:hidden;
	    border-bottom: 1px solid $white;
	    box-sizing:border-box;
	    @media (max-width:545px){
	    	border-bottom: 10px solid $white;
	    }
	}
	@at-root{
		@keyframes fade-in-items {
			0% { opacity:0;transform:translateY(60px) rotate(0.02deg);visibility:hidden; }
			100% { opacity:1;transform:translateY(0) rotate(0.02deg);visibility:visible; }
		}
		@keyframes fade-out-items {
			0% { opacity:1;transform:translateY(0) rotate(0.02deg);visibility:visible; }
			100% { opacity:0;transform:translateY(60px) rotate(0.02deg);visibility:hidden; }
		}
	}
	#rbs-programme-list-cards > .rbs-programme-item a{
		padding:15px 20px 18px;
		display:block;
		position:relative;
		box-sizing:border-box;
		height:100%;
	}
	html.ie9 &{
		#rbs-programme-list-cards > .rbs-programme-item{
			background-color:$white;
			transition:background-color 0.25s ease-out;
			.bottom{
				border-color:$white;
				transition:border-color 0.25s ease-out;
			}
		}
		#rbs-programme-list-cards > .rbs-programme-item:hover{
			background-color:darken($white, 10%);
			transition:background-color 0.25s ease-in;
			.bottom{
				border-color:darken($white, 10%);
				transition:background-color 0.25s ease-in;
			}
		}
	}
	html.platform-desktop:not(.ie9) &{
		#rbs-programme-list-cards > .rbs-programme-item a{
			&:before{
				transition:transform 0.25s ease-out;
			}
			p, h3{
				transition:color 0.25s ease-out;
			}
		}
		#rbs-programme-list-cards > .rbs-programme-item a:hover{
			&:before{
				transform:scaleX(1);
				-ms-transform:scaleX(1);
				transition:transform 0.25s ease-in;
			}
			p, h3{
				color:$white;
				transition:color 0.25s ease-in;
			}
		}
	}
	html.platform-mobile &{
		#rbs-programme-list-cards > .rbs-programme-item a:hover{
			&:before{
				transform:scaleX(1);
				-ms-transform:scaleX(1);;
			}
			p, h3{
				color:$white;
			}
		}
	}
	#rbs-programme-list-cards > .rbs-programme-item a:before{
		content:"";
		display:block;
		position:absolute;
		z-index:0;
		top:0;
		right:0;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
		background-image:linear-gradient(91deg, $purple, $light-blue);
		transform:scaleX(0);
		transform-origin:0 50%;
		-ms-transform:scaleX(0);
		-ms-transform-origin:0 50%;
	}
	.rbs-programme-category{
		font-size:15px;
		line-height:25px;
		font-family:$primary-font-medium;
		color:$light-blue;
		text-align:left;
	    margin-bottom: 8px;
		z-index:1;
		position:relative;
		& > span{
		    letter-spacing: -1px;
		}
	}
	#rbs-programme-list-cards > .rbs-programme-item h3{
		text-align:left;
		font-size:18px;
		line-height:22px;
		font-family:$primary-font-bold;
		color:$textgrey;
		margin-bottom:7px;
		z-index:1;
		position:relative;
	}
	#rbs-programme-list-cards > .rbs-programme-item p:not(.rbs-programme-category){
		text-align:left;
		font-family:$secondary-font-regular;
		font-size:14px;
		line-height:21px;
		color:$textgrey;
		z-index:1;
		position:relative;
		height: 100%;
		& > span:last-child{
			
		}
	}
}