#rbs-programme-entry-requirements{ 
	position:relative;
	display:block;
	background-color:$white;
	padding:60px 60px 35px;
	box-shadow:0 10px 15px 0 rgba(0,0,0,0.15);
	margin:21px 0 0;
	@media (max-width:1024px){
		margin:29px 0 0;
	}
	@media (max-width:767px){
		margin:19px 0 0;
		padding:39px 21px 23px;
	}
	&:after{
		content:"";
		position:absolute;
		top:10px;
		right:10px;
		display:block;
		background-image:$sprite-img-svg;
		background-repeat:$sprite-repeat;
		background-size:$sprite-size;
		background-position:-97px -25px;
		width:64px;
		height:64px;
		@media (max-width:767px){
			display:none;
		}
	}
	html.ie9 &, html.ie10 &{
		&:after{
			background-image:$sprite-img-png;
		}
	}
	li{
	    margin-bottom: 22px;
        @media (max-width:1024px){
	        position:relative;
        }
        @media (max-width:767px){
            margin-bottom: 8px;
        }
	}
	.rbs-programme-content-title-underlined{
        margin-bottom: 30px;
        @media (max-width:767px){
	        font-size:20px;
	        line-height:24px;
            margin-bottom: 22px;
        }
	}
	h3 .fa-check-circle{
		font-size:17px;
		position:absolute;    
		margin-left: 8px;
		margin-top: 10px;
		@media (max-width:1024px){
			margin-left:19px;
			margin-top:7px;
		}
		@media (max-width:767px){
			margin-left:7px;
			margin-top:7px;
		}
		@media (max-width:230px){
			display:none;
		}
	}
}
/* Tooltip */
.rbs-helper-container{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    position:relative;
    cursor:pointer;
    margin-left: 5px;
    @media (max-width:1024px){
	    position:static;
	    margin-left:2px;
    }
    @media (max-width:767px){
	    margin-left:1px;
    }
}
.rbs-helper-container:after{
	content:"";
	display:block;
	width: 0; 
	height: 0; 
	border-left: 10px solid $white;
	border-top: 10px solid $white;
	border-right: 0 solid transparent;
	position:absolute;
    top: 16px;
    left: 32px;
    box-sizing: border-box;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	background-color:$white;
	z-index:999;
	@media (max-width:1024px){
		content:none;
	}
}
.rbs-tooltip-wrapper{
	position:relative;
	display:block;
	width:100%;
	user-select:none;
}
.rbs-helper{
	position:relative;
	font-size:14px;
	line-height:20px;
	font-family:$tertiary-font-semibold;
	color:$light-blue;
	border:1px solid $light-blue;
	border-radius:50%;	
	width:20px;
	height:20px;    
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 3px;
    margin-top:4px;
    @media (max-width:1024px){
	    position:static;
	    margin-top:3px;
    }
    @media (max-width:767px){
        width: 17px;
	    height: 17px;
	    line-height: 17px;
	    font-size:12px;
    }
}
.rbs-helper:before{
	content:none;
	display:block;
	width: 0; 
	height: 0; 
	border-left: 10px solid $light-blue;
	border-top: 10px solid $light-blue;
	border-right: 0 solid transparent;
	position:absolute;
    top: 24px;
	left: 10px;
    box-sizing: border-box;
	transform-origin: 0 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    box-shadow:-2px 0px 5px rgba(0,0,0,0.2); 
	background-color:$light-blue;
	z-index:9999;
	@media (max-width:1024px){
		box-shadow:none;
		left:auto;
		margin-left:9px;
		top:auto;
		bottom:auto;
		margin-top:25px;
	}
	@media (max-width:767px){
		margin-top:22px;
		margin-left:8px;
	}
}
.rbs-helper:after{
	content:none;
	display:block;
	width: 0; 
	height: 0; 
	border-left: 11px solid $white;
	border-top: 11px solid $white;
	border-right: 0 solid transparent;
	position:absolute;
    top: 25px;
	left: 10px;
    box-sizing: border-box;
	transform-origin: 0 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	background-color:$white;
	z-index:9999;
	@media (max-width:1024px){
		left:auto;
		margin-left:9px;
		top:auto;
		bottom:auto;
		margin-top:6px;
	}
	@media (max-width:767px){
		margin-left:8px;
	}
}
.rbs-helper-container.active .rbs-tooltip{
    opacity:1;
    visibility:visible;
}
.rbs-helper-container.active .rbs-helper:before, .rbs-helper-container.active .rbs-helper:after{
	@media (max-width:1024px){
		content:"";
	}
}
.rbs-tooltip{
	position:absolute;
	width:300px;
	display:block;
	background-color:$white;
	padding:16px 19px 17px;
	box-sizing:border-box;
    z-index:999;
    border:1px solid $light-blue;
    box-shadow:0 3px 5px rgba(0,0,0,0.2);    
    top: -25px;
	margin-left: 34px;
    opacity:0;
    visibility:hidden;
    @media (max-width:1024px){
        width:calc(100% + 120px);
        margin-left:0;
        left:-60px;
        right:0;
        top: auto;
        margin-top:12px;
    }
    @media (max-width:767px){
        width:calc(100% + 50px);
        left:-25px;
	    padding:12px 17px 14px;
    }
}
.rbs-tooltip:before{
	content:"";
	display:block;
	width: 0; 
	height: 0; 
	border-left: 11px solid $light-blue;
	border-top: 11px solid $light-blue;
	border-right: 0 solid transparent;
	position:absolute;
    top: 35px;
	left: -8px;
    box-sizing: border-box;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    box-shadow:-2px 0px 5px rgba(0,0,0,0.2); 
	background-color:$light-blue;
	@media (max-width:1024px){
		border:none;
		transform:none;
		z-index:99999;
		content:"";
		display:block;
		width:100%;
		height:10px;
		box-shadow:none;
		background-color:$white;
		position:absolute;
		left:0;
		top:0;
	}
}
.rbs-tooltip:after{
	content:none;
	display:block;
	width: 0; 
	height: 0; 
	border-left: 10px solid $white;
	border-top: 10px solid $white;
	border-right: 0 solid transparent;
	position:absolute;
    top: 33px;
	left: -7px;
    box-sizing: border-box;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	background-color:$white;
	@media (max-width:1024px){
		content:none;
	}
}
.rbs-tooltip .rbs-tooltip-text:before{
	z-index:1;
	content:"";
	display:block;
	width:10px;
	height:100%;
	background-color:$white;
	position:absolute;
	left:0;
	top:0;
	@media (max-width:1024px){
		content:none;
	}
}
.rbs-tooltip .rbs-tooltip-text{
	font-family:$secondary-font-regular;
	font-size:13px;
	line-height:19px;
	color:$textgrey;
	text-align:left;
	display:block;
}