.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    html.ie9 &{
	    overflow:visible;
	    white-space:normal;
    }
}

.ellipsis.multiline {
    white-space: normal;
}
#rbs-programme-content{ 
	#rbs-programme-cards{
		margin:54px 0 0;
		@media (max-width:767px){
			margin:48px 0 0;
		}
	}
	#rbs-programme-cards article{
		height:100%;
		display:inline-block;
		vertical-align: top;
		width:calc(50% - 18px);
		margin-bottom:36px;
		background-color:$white;
		//cursor:pointer;
        padding-top: 60px;
		padding-bottom: 40px;
		position:relative;
		z-index:9999;
		box-shadow:0 10px 15px 0 rgba(0,0,0,0.15);
		@media (max-width:767px){
			width:100%;
			margin-bottom:30px;
		}
		&:nth-child(even){
			margin-left:18px;
			@media (max-width:767px){
				margin-left:0;
			}
		}
		&:nth-child(odd){
			margin-right:18px;
			@media (max-width:767px){
				margin-right:0;
			}
		}
	}
/*
	html.ie9 &{
		#rbs-programme-cards article > div{
			width:90%;	
			padding-left:0;
			padding-right:0;
			margin:0 auto;
			text-align:center;
		}
		#rbs-programme-cards button{
			width:100px;
			@media (max-width:250px){
				width:calc(100% - 18px);
			}
		}	
	}
*/
	#rbs-programme-cards article > div{
		display:table;
		height:100%;
		width:calc(100% - 36px);
		padding-left:18px;
		padding-right:18px;
	}
	#rbs-programme-cards article > div > div{
		display:table-cell;
		vertical-align: middle;
		text-align:center;
	}
	#rbs-programme-cards .rbs-programme-content-title{
		font-size:17px;
		line-height:26px;
		text-align:center;
		margin-bottom:5px;
		@media (max-width:767px){
			font-size:16px;
		}
	}
	#rbs-programme-cards .fa-clock, #rbs-programme-cards .fa-desktop, #rbs-programme-cards .fa-graduation-cap, #rbs-programme-cards .fa-credit-card{
		font-size:17px;
		line-height:25px;
		position:absolute;
		left:50%;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		top:32px;
		pointer-events:none;
	}
	#rbs-programme-cards p{
		text-align:center;
		line-height:25px;
		margin-bottom:6px;
		@media (max-width:767px){
			line-height:23px;
		}
	}
	#rbs-programme-cards button{
		font-family:$primary-font-bold;
		font-size:14px;
		line-height:18px;
		color:$light-blue;
		text-align:center;
		position:relative;
		padding-left:14px;
		display:inline-block;
		vertical-align: top;
		position: absolute;
		bottom: 50px;
		left:50%;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		user-select:none;
		pointer-events:none;
		@media (max-width:250px){
			width: calc(100% - 36px);
			display:block;
			left:auto;
			transform:none;
			-ms-transform:none;
			padding-left:0;
			padding-right:0;
		    height: 21px;
		    bottom:58px;
		}
	}
	#rbs-tab-content-container > div{
	    margin-bottom: 36px;
	    @media (max-width:767px){
		    margin:0;
	    }
	}
	.rbs-tab-content{
		position: absolute;
	    margin-left: -2500px;
	    top: 0;
	    max-width: 640px;
	    background-color:rgba(60, 60, 59, 0.1);
	    padding:27px 33px 28px;
	    opacity:0;
	    visibility:hidden;
	    @media (max-width:1024px){
		    max-width:100%;
	    }
	    @media (max-width:767px){
	     	margin-bottom: 30px;
			padding:26px 30px 27px;
	    }
	    &.active{
		    position:relative;
		    margin-left:0;
		    opacity:1;
		    visibility:visible;	    
	    }
	}
	html.platform-desktop &{
		.rbs-tab-content{
	    	transition:opacity 0.5s ease-out, visibility 0.5s ease-out;
	    	&.active{
			    transition:opacity 0.5s ease-in, visibility 0.5s ease-in;		    
		    }
		}
	}
	#rbs-programme-cards .rbs-tab-content p{
		line-height:28px;
		text-align:left;
		@media (max-width:767px){
			line-height:25px;
		}
		&:last-child{
			margin:0;
		}
	}
	#rbs-programme-cards article:after{
		content:"";
		width: 0; 
		height: 0; 
		border-left: 17px solid $white;
		border-right: 0 solid transparent;
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:-12px;
		opacity:0;
	    box-sizing: border-box;
		transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		box-shadow:0 0 0 0 rgba(0,0,0,0.15);
		background-color:$white;
	}
	#rbs-programme-cards > div:nth-child(1) article:after{
		bottom:0;    
		border-top:17px solid $white;
	}
	#rbs-programme-cards > div:nth-child(3) article:after{
		top:17px;    
		border-bottom:17px solid $white;
		@media (max-width:767px){
			top:auto;
			bottom:0;    
			border-bottom:17px solid $white;
		}
	}
	#rbs-programme-cards > div:nth-child(1) article.active:after{
		bottom:-17px;
		box-shadow:-10px 10px 15px 0 rgba(0,0,0,0.15);
		opacity:1;
	}
	#rbs-programme-cards > div:nth-child(3) article.active:after{
		top:0;    
		opacity:1;
		@media (max-width:767px){
			top:auto;
			bottom:-17px;
			box-shadow:-10px 10px 15px 0 rgba(0,0,0,0.15);
			opacity:1;
		}
	}
	html.platform-desktop &{
		#rbs-programme-cards > div:nth-child(1) article:after, #rbs-programme-cards > div:nth-child(3) article:after{
			transition:border-color 0.25s ease-out, box-shadow 0.05s ease-out 0.2s;
		}
		#rbs-programme-cards > div:nth-child(3) article.active:after, #rbs-programme-cards > div:nth-child(1) article.active:after{	
			transition:top 0.25s ease-in, box-shadow 0.05s ease-in 0.2s;
			@media (max-width:767px){
				transition:bottom 0.25s ease-in, box-shadow 0.05s ease-in 0.2s;
			}
		}
	}
	#rbs-programme-cards > div:nth-child(3) article:before{
		content:"";
		height:15px;
		width:100%;
		z-index:1;
		position:absolute;
		top:0;   
		display:block;
		background-color:$white;
	}
	#rbs-programme-cards{
		span:not(.rbs-read-more){
			display:inline-block;
			vertical-align: top;
			position:absolute;
			@media (max-width:250px){
				font-size:20px;
			}
		}
		.rbs-more{
			opacity:1;
			visibility: visible;
			left:0;
			@media (max-width:250px){
				left:50%;
				transform:translateX(-50%);
				-ms-transform:translateX(-50%);
			}
		}
		.rbs-less{
			opacity:0;
			visibility: hidden;
			left:2px;
			@media (max-width:250px){
				left:50%;
				transform:translateX(-50%);
				-ms-transform:translateX(-50%);
			}
		}
		.rbs-read-more{
			@media (max-width:250px){
				display:none;
			}
		}
	}
	html.platform-desktop &{
		#rbs-programme-cards{
			.rbs-more{
				transition:opacity 0.5s ease-in, visibility 0.5s ease-in;
			}
			.rbs-less{
				transition:opacity 0.5s ease-out, visibility 0.5s ease-out;
			}
		}
	}
	#rbs-programme-cards article.active{
		.rbs-more{
			opacity:0;
			visibility: hidden;
		}
		.rbs-less{
			opacity:1;
			visibility: visible;
		}
	}
	html.platform-desktop &{
		#rbs-programme-cards article.active{
			.rbs-more{
				transition:opacity 0.5s ease-out, visibility 0.5s ease-out;
			}
			.rbs-less{
				transition:opacity 0.5s ease-in, visibility 0.5s ease-in;
			}
		}
	}
}