.rbs-learning-provider{
	position:relative;
	display:block;
	padding:75px 0 64px;
	margin-bottom:0;
	@media (max-width:767px){
		padding:64px 0 42px;
	}
	html.edge #learners-view.active &{
		margin-bottom:25px;
	}
	html.ie #learners-view.active &{
		margin-bottom:0;
	}
	html.ie9 #managers-view.active &{
		&:before{
			background-image:none;
		}
	}
	html.ie9 &{ 
		&:before{
			background-image:url(../images/learning-provider-bg.png);
			background-size:cover;
			background-repeat:no-repeat;
		}
	}
	#managers-view.active &{
		padding: 58px 0 54px;
		@media (max-width:1024px){
			padding:30px 0 32px;
		}
		@media (max-width:767px){
			padding:50px 0 32px;
		}
		&:before{
			content:none;
		}
	}
	&:before{
		content:"";
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		opacity:0.1;
		left:0;
		background:linear-gradient(90deg, $light-blue, $yellow);
	}
	.rbs-programme-content-title-underlined{
		font-size:24px;
		line-height:28px;
		margin-bottom:33px;
		@media (max-width:767px){
			font-size:20px;
			line-height:24px;
			margin-bottom:34px;
		}
	}
	#managers-view.active &{
		.rbs-container:before{
			content:"";
			background-image:$sprite-img-svg;
			background-size:$sprite-size;
			background-repeat:$sprite-repeat;
		    height: 120px;
		    width: 240px;
		    background-position: -958px -21px;
		    right: 1155px;
		    top: 275px;
		    transform: rotate(270deg);
		    -ms-transform: rotate(270deg);
		    z-index: 1;
		    position: absolute;
	        left: -227px;
			top: 59px;
		}
	}
	html.ie9 #managers-view.active &, html.ie10 #managers-view.active &{
		.rbs-container:before{
			background-image:$sprite-img-png;
		}
	}
	.rbs-container{
		max-width:955px;
	}
	p{
		font-family:$secondary-font-regular;
		font-size:16px;
		line-height:28px;
		color:$textgrey;
		text-align:left;
		padding-bottom:15px;
		@media (max-width:767px){
			font-size:15px;
			line-height:25px;
		}
	}
}