#rbs-programme-support{
	.rbs-programme-content-title-underlined{
		margin-bottom:30px;
		@media (max-width:767px){
			margin-bottom:31px;
		}
	}
	.rbs-programme-content-title{
		margin-bottom:7px;
		@media (max-width:767px){
			line-height:28px;
			margin-bottom:8px;
		}
	}
	.rbs-online-learning{
		margin-bottom:54px;
		@media (max-width:1024px){
			margin-bottom:75px;
		}
		@media (max-width:767px){
		    margin-bottom: -4px;
		}
	}
	ul{
		font-size:0;
		line-height:0;
		display:block;
		width:100%;
		padding-left: 20px;
		box-sizing: border-box;
		margin:0 0 34px;
		@media (max-width:767px){
		}
	}
	ul > li{
		list-style-type:disc;
		font-size:20px;
		@media (max-width:767px){
			font-size:15px;
		}
	}
	ul > li > span{
		font-size: 16px;
		position:relative;
		margin-left:-7px;
		display:block;
		@media (max-width:767px){
			font-size:15px;
		}
	}
	img{
	    max-width: 100%;
	}
	.rbs-online-learning > div{
		display:inline-block;
		vertical-align: top;
		width: auto;
		max-width:50%;
		@media (max-width:767px){
			max-width:100%;
		}
	}
	.rbs-online-learning > div:last-child{
		padding-left:52px;
		box-sizing:border-box;
		@media (max-width:1024px){
			padding-left:70px;
		}
		@media (max-width:767px){
			padding-left:0;
			padding-top:49px;
		}
	}
	.rbs-online-learning > div:first-of-type{
		box-shadow:0 10px 15px rgba(0,0,0,0.15);
		padding:37px 15px 12px 15px;
	}
	#rbs-support{
	    margin-bottom: 24px;
		@media (max-width:767px){
	        margin-bottom: 24px;
		}
	}
	#rbs-progression ul{
		margin-bottom:0;
	}
	#rbs-support ul{
		margin:0 0 27px;
	}
	#rbs-workload, #rbs-assessments{
	    margin-bottom: 33px;
		@media (max-width:767px){
		    margin-bottom: 28px;
		}
	}	
	#rbs-support > div{
		display:inline-block;
		vertical-align: top;
		@media (max-width:767px){
			display:block;
		}
	}
	#rbs-support > div:last-child{
		width:205px;
		padding-left:35px;
		padding-top:4px;
		box-sizing:border-box;
		@media (max-width:767px){
			text-align:center;
			width:100%;
			padding:0
		}
	}
	#rbs-support > div:last-child img{
		@media (max-width:767px){
			display:block;
			margin:52px auto 0;
			max-width:170px;
			width:100%;
		}	
	}
	#rbs-support > div:first-child{
		width:calc(100% - 205px);
		@media (max-width:767px){
			width:100%;
		}
	}
}