#learners-view{
	opacity:0;
	height:0;
	transition:opacity 0.35s ease-out;
	position:relative;
	z-index:0;
	&.active{
		height:100%;
		opacity:1;
		transition:opacity 0.35s ease-in;
		z-index:1;
	}
}
#managers-view{
	height:0;
	opacity:0;
	transition:opacity 0.35s ease-out;
	position:relative;
	z-index:0;
	&.active{
		height:100%;
		opacity:1;
		transition:opacity 0.35s ease-in;
		z-index:1;
	}
}
.rbs-programme-list-tabs{
    padding-top: 99px;
    @media (max-width:1024px){
	    padding-top:66px;
    }
    @media (max-width:767px){
	    padding-top: 46px;
    }
	.rbs-container{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1160px;
		width:100%;
		box-sizing:border-box;
		font-size:0;
		line-height:0;
		padding:0 65px;
		text-align:center;
		@media (max-width:767px){
			padding:0 25px;
		}
	}
	html.ie9 &{
		.rbs-programme-content-title-underlined{
			display:inline-block;
		}
	}
	.rbs-programme-content-title-underlined{
		text-align:center;
		display: block;
	    margin-bottom: 71px;
	    @media (max-width:1024px){
		    margin-bottom:45px;
	    }
	}
	& > div{
		display:block;
		position:relative;
		margin:0 auto;
		max-width:1440px;
		box-sizing:border-box;
		width:100%;
	}
	html.ie9 &, html.ie10 &{
		& > div:before, & > div:after, #rbs-programme-list-cards:before, & > div > div:before, .rbs-ellipses:before, #rbs-steps-to-take .rbs-container:after, #rbs-steps-to-take .rbs-container:before {
			background-image:$sprite-img-png;
		}
	}
	& > div:before, & > div:after, #rbs-programme-list-cards:before, & > div > div:before, .rbs-ellipses:before, #rbs-steps-to-take .rbs-container:after, #rbs-steps-to-take .rbs-container:before{
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		display:block;
		position:absolute;
		content:"";
		z-index:0;
	}
	#managers-view.active &{
		& > div:before{
			transform:scaleX(-1);
			-ms-transform:scaleX(-1);
			left:26px;
		    top: -45px;
		    @media (max-width:1250px){
		        left: auto;
			    right: 1071px;
		    }
		    @media (max-width:1140px){
		        left: -88px;
				right: auto;
		    }
		}
	}
	& > div:before{
		width:155px;
		height:157px;
		background-position:-843px -283px;
	    right: 40px;
		top: 284px;
		@media (max-width:1440px){
		    left: 1246px;
		    right:auto;
		}
		@media (max-width:1360px){
			left: auto;
			right: -42px;
		}
		@media (max-width:1157px){
		    top: 335px;
		}
		@media (max-width:1024px){
		    top: 507px;
		}
		@media (max-width:767px){
			content:none;
		}
	}
	#managers-view.active &{
		& > div:after{
			content:none;
		}
	}
	& > div:after{
		height: 120px;
	    width: 240px;
	    background-position: -958px -21px;        
	    right: 1155px;
		top: 275px;
		transform:rotate(270deg);
		-ms-transform:rotate(270deg);
		@media (max-width:1260px){
		    left: -140px;
		    right:auto;
		}
		@media (max-width:1157px){
		    top: 326px;
		}
		@media (max-width:767px){
			content:none;
		}
	}
	#rbs-programme-list-cards:before{
		width:93px;
		height:93px;
		background-position:-2px -27px;
	    left: 302px;
		top: 392px;
		@media (max-width:1024px){
			content:none;
		}
	}
	& > div > div:before{
		height:100px;
		width:52px;
		background-position:-186px -122px;
		left: 0;
		top: 341px;
		@media (max-width:1267px){
		    right: 1216px;
		    left:auto;
		}
		@media (max-width:1250px){
			left:-20px;
			right:auto;
		}
		@media (max-width:1157px){
			top: 391px;
		}
		@media (max-width:1024px){
		    top: 544px;
 		}
 		@media (max-width:767px){
			content:none; 		
		}
	}
	#managers-view.active &{
		.rbs-ellipses:before{
			content:none;
		}
	}
	.rbs-ellipses:before{
		height:181px;
		width:141px;
		background-position:-240px -41px;    
		right: 1255px;
		top: -22px;
		@media (max-width:1250px){
			content:none;
		}
	}
}
#rbs-steps-to-take{
	display:block;
	margin-top: 61px;
	@media (max-width:1150px){
		margin-top:66px;
	}
	.rbs-programme-content-title-underlined{
		margin-bottom:80px;
		@media (max-width:1024px){
			margin-bottom:71px;
		}
	    @media (max-width:767px){
	        margin-bottom: 35px;
	    }
	}
	.rbs-container{
		font-size:0;
		line-height:0;
	    max-width:1275px;
	}
	.rbs-container:after{
		height:181px;
		width:141px;
		background-position:-240px -41px;    
		left: 1151px;
	    bottom: -183px;
	    transform: scale(-1);
	    -ms-transform: scale(-1);
	}
	.rbs-container:before{
		width: 93px;
	    height: 93px;
	    background-position: -2px -27px;
        right: -28px;
		top: -70px;
	    transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	    @media (max-width:1090px){
		    left: 833px;
		    right:auto;
	    }
	}
	ul{
		display:block;
		width:100%;
	}
	li{
		font-family:$secondary-font-regular;
		font-size:15px;
		line-height:21px;
		color:$textgrey;
		text-align:left;
		margin-bottom:55px;
		position:relative;
		vertical-align: top;
		display:inline-block;
		padding-left:65px;
		padding-right:30px;
		box-sizing:border-box;
		width:50%;
		@media (max-width:1024px){
			width:100%;
			display:block;
			padding-right:0;
		}
		@media (max-width:767px){
			line-height:25px;
			margin-bottom:34px;
		    padding-left: 59px;
		}
		&:before{
			color:rgba(60, 60, 59, 0.19);
			font-family:$primary-font-bold;
			font-size:62px;
			line-height:58px;
			text-align:left;
			display:block;
			position:absolute;
			left:0;
			top: -34px;
			@media (max-width:767px){
				font-size:55px;
				line-height:58px;
				top:0;
			}
		}
		&:nth-child(2){
			padding-left:120px;
			padding-right:0;
			@media (max-width:1024px){
				width:100%;
				display:block;
				padding-right:0;
				padding-left:65px;
			}
			&:before{
				left: 56px;
				@media (max-width:1024px){
					left:0;
				}
			}
		}
	}
	html.ie &{
		li:before{
			top:-35px;
			@media (max-width:767px){
				top:-34px;
			}
		}
	}
	ul:nth-of-type(1){
		li:nth-child(1):before{
			content:"1.";
		}
		li:nth-child(2):before{
			content:"2.";
		}
	}
	ul:nth-of-type(2){
		li:nth-child(1):before{
			content:"3.";
		}
		li:nth-child(2):before{
			content:"4.";
		}
	}
	ul:nth-of-type(3){
		li:nth-child(1):before{
			content:"5.";
		}
		li:nth-child(2):before{
			content:"6.";
		}
	}
}