div#rbs-sticky-sidebar-desktop{
	@media (max-width:1130px){
		display:none;
	}
}
div#rbs-sticky-sidebar-mobile{
	display:none;
	@media (max-width:1130px){
		display:inline-block;
	}
}
#rbs-sticky-sidebar-desktop, #rbs-sticky-sidebar-mobile{
	position:relative;
	display:inline-block;
	vertical-align: top;
	box-sizing:border-box;
	width:360px;
	margin-left:60px;
	z-index:1;
	margin-top: -10px;
	@media (max-width:1270px){
		margin-left:0;
	}
	@media (max-width:1170px){
		width:320px;
	}
	@media (max-width:1130px){
		width:100%;
		max-width:360px;
	    margin-bottom: 41px;
	    float:none;
	}
	html.ie10 &, html.ie9 &{
		float:right;
		@media (max-width:1024px){
			float:none;
		}
	}
	html.windows &{
		@media (max-width:1230px){
			width:350px;
		}
		@media (max-width:1210px){
			width:340px;
		}
		@media (max-width:1170px){
			width:300px;
		}
		@media (max-width:1130px){
			max-width:360px;
			width:100%;
		}
	}
	html.ie9 &{
		&.smooth-transition{
			opacity:1;
			visibility:visible;
		}
	}
	&.smooth-transition{
		@media (max-width:1024px){
			opacity:0;
			visibility:hidden;
			animation:fade-in 0.3s ease-out forwards;
		}
	}
	@at-root{
		@keyframes fade-in{
			0% { opacity: 0; visibility:hidden; }
			100% { opacity:1; visibility:visible; }
		}
	}
	& > div{
	    display: block;
	    box-sizing: border-box;
	    width: 100%;
		@media (max-width:1024px){
			position:relative;
		}
	}
	h5{
		font-family:$primary-font-bold;
		font-size:17px;
		line-height:40px;
		color:$textgrey;
		display:block;
		margin-bottom:4px;
		&:nth-of-type(2){
		    margin-top: 10px;
		    @media (max-width:767px){
		    	margin-top: 20px;
			}
		}
		@media (max-width:767px){
			font-size:16px;
			margin-bottom:-7px;
		}
	}
	html.ie9 &{
		.rbs-select-container:before {
		    display:block;
		    position:absolute;
		    content:"";
	        right: -2px;
		    top: -2px;
		    height: 48px;
		    width: 20px;
		    margin: 2px;
		    background-color:$white;
			pointer-events:none;
		    z-index:2;
		}
		select{
			padding-right:0;
		}
	}
	html.ie9 &{
		select{
			padding-left:15px;
			padding-right:0;
		}
	}
	select{
		width:100%;
		height:100%;
		background-color:$white;
		box-sizing:border-box;
		border-radius:0;
		-webkit-appearance: none;
		font-size:17px;
		color:rgba(60, 60, 59, 0.8);
		padding:4px 42px 0 15px;
		font-family:$primary-font-regular;
		z-index:1;
		@media (max-width:767px){
			font-size:16px;
		}
	}
	select::-ms-value {
		background: transparent;
	}
	.rbs-select-container{
		position:relative;
		border:1px solid $grey-2;
		box-sizing:border-box;
		height:50px;
		width:100%;
		display:inline-block;
		margin:0 0 14px;
		z-index:0;
		overflow:hidden;
	}
	html.ie9 &, html.ie10 &{
		.rbs-select-container:after{
			background-image:$sprite-img-png;
		}
	}
	.rbs-select-container:after{
		content:"";
		position:absolute;
		width:12px;
		height:7px;
		background-image:$sprite-img-svg;
		background-size:$sprite-size;
		background-repeat:$sprite-repeat;
		background-position:-82px -2px;
		margin-top:-3.5px;
		top:50%;
		right:15px;
		pointer-events:none;
		z-index:3;
	}
	html.platform-desktop &{
		a{
			transition:background-color 0.4s ease-out;
			&:hover{
				transition:background-color 0.4s ease-in;
				background-color:darken($light-blue, 10%);
			}
		}
	}
	html.platform-mobile &{
		a:active{
			background-color:darken($light-blue, 10%);
		}
	}
	a{
		display:block;
		height:50px;
		width:100%;
		background-color:$light-blue;
		font-family:$primary-font-bold;
		color:$white;
		font-size:16px;
		box-shadow:0 5px 3px rgba(0,0,0,0.2);
		margin:30px 0 0;
		cursor:pointer;
	    text-align: center;
		line-height: 50px;
		@media (max-width:767px){
			margin-top:32px;
		}
	}
	#rbs-form-aside-desktop, #rbs-form-aside-mobile{
		//padding-bottom:32px;
	}
	#rbs-form-aside-desktop p, #rbs-form-aside-mobile p{
		font-family:$secondary-font-regular;
		font-size:16px;
		line-height:28px;
		text-align:left;
		color:$textgrey;
		margin-top:5px;
		@media (max-width:767px){
			font-size:15px;
			line-height:25px;
		}
	}
	#rbs-callback-aside-desktop, #rbs-callback-aside-mobile{
		background:linear-gradient(270deg, $pink, $red);
		height:91px;
		width:100%;
		display:block;
		padding:10px 23px;
		box-sizing:border-box;
		@media (max-width:1170px){
		    height: 131px;
		}
		@media (max-width:1130px){
			height:91px;
		}
		@media (max-width:371px){
			height:131px;
		}
		@media (max-width:250px){
			padding:20px 20px 18px;
			height:auto;
		}
	}
	html.ie9 &, html.ie10 &{
		#rbs-form-aside-desktop, #rbs-form-aside-mobile{
/*
			background-image:url(../images/red-pink-bg.png);
			background-size:cover;
			background-repeat:no-repeat;
*/
		}
	}
	h6{
		font-family:$primary-font-bold;
		font-size:17px;
		line-height:40px;
		color:$white;
		display:inline-block;
		vertical-align: top;
	    margin-right: 25px;
	    text-align:left;
	    @media (max-width:250px){
	        line-height: 20px;
            margin-bottom: 15px;
	    }
	}
	#rbs-callback-aside-desktop p, #rbs-callback-aside-mobile p{
		font-size:15px;
		line-height:24px;
		font-family:$primary-font-bold;
		color:$white;
		padding-top:3px;
		display:inline-block;
		vertical-align: top;
	    @media (max-width:250px){
	        line-height: 20px;
	    }
	}
	html.ie9 &, html.ie10 &{
		#rbs-callback-aside-desktop p:after, #rbs-callback-aside-mobile p:after{
			background-image:$sprite-img-png;
		}
	}
	#rbs-callback-aside-desktop .fa-phone, #rbs-callback-aside-mobile .fa-phone{
		display:inline-block;
		vertical-align: top;
		font-size:14px;
		line-height:30px;
		margin-top: 8px;
		margin-left: 10px;
		color:$white;
		@media (max-width:262px){
			display:none;		
		}
	}
	html.ie10 &, html.ie &{
		#rbs-callback-aside-desktop .fa-phone, #rbs-callback-aside-mobile .fa-phone{
			@media (max-width:1050px){
				display:none;
			}
			@media (max-width:1024px){
				display:inline-block;
			}
		}
	}
	html.platform-desktop &{
		#rbs-callback-aside-desktop a, #rbs-callback-aside-mobile a{
			transition:color 0.4s ease-out;
			&:hover{
				transition:color 0.4s ease-in;
				color:darken($white, 20%);
			}
		}
	}
	html.platform-mobile &{
		#rbs-callback-aside-desktop a:active, #rbs-callback-aside-mobile a:active{
			color:darken($white, 20%);
		}
	}
	#rbs-callback-aside-desktop a, #rbs-callback-aside-mobile a{
		font-size:20px;
		line-height:32px;
		font-family:$primary-font-regular;
		color:$white;
		display:inline-block;
		vertical-align: top;
		margin-top:6px;
	    text-align:left;
	    @media (max-width:250px){
	        line-height: 22px;
	        margin-bottom:7px;
	    }
	}
	aside#rbs-callback-aside-desktop{
		display:none;
	}
}