/* Spritesheet */
/* ---------------------------------------------- */ 
$sprite-size: 1200px 1000px; 

$sprite-img-svg: url(../images/spritesheet/spritesheet.svg);
$sprite-img-png: url(../images/spritesheet/spritesheet.png); 
  
$sprite-repeat: no-repeat;

/* Colors */
/* ---------------------------------------------- */ 
$white: #ffffff;
$black: #000000;
$textgrey: #3C3C3B; 
$grey-underline: #BABABA;
$grey-9: #F9F7F7;
$grey-8: #DBD9D9;
$grey-7: #79809C;
$grey-6: #DCDADA;
$grey-5: #D0D0D0;
$grey-4: #706F6E;
$grey-3: #D8D8D8;
$grey-2: #ACACAC;
$grey-1: #F8F6F6;
$light-blue: #3763AC;
$dark-blue: #213263;
$red: #E74743;
$pink: #E6579A;
$purple: #6F358A;
$yellow: #F8B048;

/* Fonts */
/* ---------------------------------------------- */ 

@font-face {
    font-family: 'GT Walsheim Pro Trail Regular';
    src: url('../fonts/GTWalsheimProTrial-Regular.eot');
    src: url('../fonts/GTWalsheimProTrial-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProTrial-Regular.woff') format('woff'),
        url('../fonts/GTWalsheimProTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
} 
@font-face {
    font-family: 'GT Walsheim Pro Trail Light';
    src: url('../fonts/GTWalsheimProTrial-Light.eot');
    src: url('../fonts/GTWalsheimProTrial-Light?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProTrial-Light.woff') format('woff'),
        url('../fonts/GTWalsheimProTrial-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
} 
@font-face {
    font-family: 'GT Walsheim Pro Light';
    src: url('../fonts/GT-Walsheim-Light.eot');
    src: url('../fonts/GT-Walsheim-Light?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim-Light.woff') format('woff'),
        url('../fonts/GT-Walsheim-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
} 
@font-face { 
    font-family: 'GT Walsheim Pro Trail Medium';
    src: url('../fonts/GTWalsheimProTrial-Medium.eot');
    src: url('../fonts/GTWalsheimProTrial-Medium?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProTrial-Medium.woff') format('woff'),
        url('../fonts/GTWalsheimProTrial-Medium.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'GT Walsheim Pro Trail Bold';
    src: url('../fonts/GTWalsheimProTrial-Bold.eot');
    src: url('../fonts/GTWalsheimProTrial-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProTrial-Bold.woff') format('woff'),
        url('../fonts/GTWalsheimProTrial-Bold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'GT Walsheim Pro Bold';
    src: url('../fonts/GT-Walsheim-Bold.eot');
    src: url('../fonts/GT-Walsheim-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim-Bold.woff') format('woff'),
        url('../fonts/GT-Walsheim-Bold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'Whitney Bold';
    src: url('../fonts/Whitney-Bold.eot');
    src: url('../fonts/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Bold.woff') format('woff'),
        url('../fonts/Whitney-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-semibold.woff') format('woff'),
        url('../fonts/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primary-font-regular: 'GT Walsheim Pro Trail Regular',Helvetica,sans-serif,arial;
$primary-font-medium: 'GT Walsheim Pro Trail Medium',Helvetica,sans-serif,arial;
$primary-font-light: 'GT Walsheim Pro Light',Helvetica,sans-serif,arial;
$primary-font-bold: 'GT Walsheim Pro Bold',Helvetica,sans-serif,arial;
$secondary-font-regular: 'ff-more-web-pro',serif;
$tertiary-font-semibold: 'Open Sans Semi Bold',serif;
$font-whitney-bold: 'Whitney Bold',Helvetica,sans-serif,arial;

strong{
    font-family:$primary-font-bold;
}

html{
	-webkit-font-smoothing: antialiased;
}