#rbs-how-to-apply{
    position: relative;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: auto;
    height: auto;
	em{
		font-style:italic;
	}
    .rbs-how-to-apply-container{
        position: relative;
        display: block;
        margin: 0 auto 0 auto;
        padding: 70px 65px 0px 65px;
        width: 100%;
        max-width: 810px;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        @media (max-width:767px){
            padding: 70px 25px 0px 25px;
        }
        h2{
            position: relative;
            display: block;
            margin: 0px 0 45px 0;
            padding: 0 0 0 0;
            font-family: "GT Walsheim Pro Trail Light",Helvetica,sans-serif,arial;
            font-size: 26px;
            line-height: normal;
            color: $textgrey;
            text-align: center;
            @media(max-width: 767px){
                font-size: 24px;
            }
            @media(max-width: 375px){
                font-size: 22px;
            }
            .rbs-underline {
                position: absolute;
                height: 1px;
                width: 150px;
                bottom: -6px;
                left: 50%;
                margin-left: -75px;
                border-bottom: 1px solid #BABABA;
            }
            
        }
        ul{
            position: relative;
            display: block;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 100%;
            height: auto;
            li{
                position: relative;
                display: block;
                margin: 0 0 47px 0;
                padding: 0 0 0 0;
                width: 100%;
                height: auto;
                font-size: 0;
                line-height: 0;
                letter-spacing: 0;
                &:before{
                    content:"";
                    position:absolute;
                    top:9px;
                    left: -115px;
                    display:block;
                    background-image:$sprite-img-svg;
                    background-repeat:$sprite-repeat;
                    background-size:$sprite-size;
                    background-position:-868px -173px;
                    width:80px;
                    height:80px;
                    @media (max-width:767px){
                        display:none;
                    }
                }
                html.ie9 &, html.ie10 &{
                    &:before{
                        background-image:$sprite-img-png;
                    }
                }
                .rbs-list-count{
                    position: relative;
                    display: block;
                    margin: 15px 0 4px 0;
                    padding: 0 0 0 0;
                    width: 100%;
                    height: auto;
                    font-size: 62px;
                    line-height: 62px;
                    color: $textgrey;
                    font-family: "GT Walsheim Pro Trail Bold",Helvetica,sans-serif,arial;
                    opacity: 0.2;
                    @media(max-width: 375px){
                        position: relative;
                        display: inline-block;
                        width: 20%;
                        height: auto;
                        vertical-align: top;
                        margin-top: -4px;
                        font-size: 55px;
                    }
                }
                > div{
                    .rbs-how-to-title{
                        position: relative;
                        display: block; 
                        margin: 0 0 0 0;
                        padding: 0 0 0 0;
                        width: 100%;
                        height: auto;
                        font-size: 18px;
                        line-height: normal;
                        font-weight: bold;
                        color: $textgrey;
                        font-family: "GT Walsheim Pro Trail Bold",Helvetica,sans-serif,arial;
                        @media(max-width: 375px){
                            font-size: 16px;
                        }
                    }
                    .rbs-how-to-text{
                        position: relative;
                        display: block;
                        margin: 15px 0 0px 0;
                        padding: 0 0 0 0;
                        width: 100%;
                        height: auto;
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: normal;
                        font-family: $secondary-font-regular;
                        @media(max-width: 375px){
                            font-size: 15px;
                        }
                        
			            a{
				            color:#6EB1D5;
			            }
                    }

                    @media(max-width: 375px){
                        position: relative;
                        display: inline-block;
                        width: 80%;
                        height: auto;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    html.platform-desktop &{
        .rbs-how-to-apply-container ul li > div .rbs-how-to-text a{
            transition:color 0.4s ease-out;
            &:hover{
                transition:color 0.4s ease-in;
                color:darken(#6EB1D5, 10%);
            }
        }
    }
    html.platform-mobile &{
        .rbs-how-to-apply-container ul li > div .rbs-how-to-text a:active{
            color:darken(#6EB1D5, 10%);
        }
    }
    .top-line{
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        max-width: 810px;
        padding: 0 65px 0 65px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto 0 auto;
        &:after{
            content: '';
            position: relative;
            display: block;
            height: 1px;
            background-color: #BABABA;
        }
        @media(max-width: 767px){
            padding: 0px 25px 0px 25px;
        }
    }
    .rbs-register-your-account{
        position: relative;
        display: block;
        margin: 0 auto 0 auto;
        padding: 42px 65px 70px 65px;
        width: 100%;
        max-width: 810px;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        color: #2D303A;
        //left: -60px;
        overflow: hidden;
        @media(max-width: 910px){
            left: auto;
            max-width: 810px;
        }
        @media(max-width: 767px){
            padding: 42px 25px 70px 25px;
        }
        p{
            position: relative;
            display: block;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 100%;
            height: auto;
            font-size: 18px;
            @media(max-width: 375px){
                font-size: 16px;
            }
        }
        html.platform-desktop &{
            .rbs-rya-btn{
                transition:background-color 0.4s ease-out;
                &:hover{
                    transition:background-color 0.4s ease-in;
                    background-color:darken($light-blue, 10%);
                }
            }
        }
        html.platform-mobile &{
            .rbs-rya-btn:active{
                background-color:darken($light-blue, 10%);
            }
        }
        .rbs-rya-btn{
            display: block;
            height: 50px;
            width: 100%;
            max-width: 360px;
            background-color: #3763AC;
            font-family: "GT Walsheim Pro Trail Bold",Helvetica,sans-serif,arial;
            color: #fff;
            font-size: 16px;
            -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            margin: 34px auto 0 auto;
            cursor: pointer;
            line-height: 50px;
            text-align: center;
            @media(max-width: 375px){
                font-size: 15px;
            }
        } 
    }
}